

<ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
   <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeBirthdaysPopup()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>

<div class="bar bar-subheader" style="height:44px; width:100%">
  	 <p style="color:white; position:absolute; margin-top:2%; font-size:17px; right:20px; direction:rtl">מי חוגג השבוע יום הולדת ב{{title}} ?</p>
     <img src="img/birthday/head.jpg" style="width:115%; height:44px; margin-left:-3%; margin-top:-2%">		 
</div>


  <ion-content   class="has-subheader" style="background-image:url('img/menu/back.jpg'); ">
<section class="BirthdayPage" style="overflow:hidden">
 		
        <!--
     	<div class="Content1" id="BirthdayContent">
         --> 
                 
              <div style="margin-bottom:20%;">
                      <div style="overflow:hidden; margin-top:-5%;" ng-repeat="item in BirthdaysArray">
                            <div style="width:65%; padding-right:10px; padding-top:30px; float:left">                    
                                    <p style="color:white; direction:rtl">{{item.name}} חוגג/ת יום הולדת ב {{title}}</p>
                                    <p style="color:#ccc; font-size:18px; margin-top:0px;" ng-show="item.birthdate">{{item.birthdate|BirthDate}}</p>
                            </div>
                            <div style="margin-top:2%; width:29%; margin-top:8%; float:left; position:relative" align="left">
                                    <img src="{{imagePath}}/{{item.image}}"  style="width:100%;  border-radius:4px; ">
                            </div>
                      </div>
              </div>  
              
              <div  id="" >
                 <!--   <div style="position:absolute; bottom:7%; width:50%; overflow:hidden; left:20px;" align="left">
                    	<table>
                        	<tr style="padding:10px">
                            	<td ng-click='closeBirthdaysPopup()' >
                                	<img src="img/birthday/fill.png"  style="width:100%;">
                                </td>
                                <td  ng-click='closeBirthdaysPopup()'>
                                	<img src="img/birthday/close.png"  style="width:100%;">
                                </td>
                            </tr>
                        </table>
                     </div>
                    <img src="img/birthday/footer.jpg"  style="width:100%;">
 			  </div>   -->
<!--			  
        </div>   
-->
</section>    

  </ion-content>
  <ion-footer-bar class="bar-positive foo">
 	 <div class="title" style="height:200px;">
     		<div style="position:absolute; bottom:22%; width:50%; overflow:hidden; left:20px;" align="left">
                    	<table>
                        	<tr style="padding:10px">
                            	<td ng-click='showInvite()' >
                                	<img src="img/birthday/fill.png"  style="width:100%;">
                                </td>
                                <td  ng-click="closeBirthdaysPopup()">
                                	<img src="img/birthday/close.png"  style="width:100%;">
                                </td>
                            </tr>
                        </table>
                     </div>
                     
           <img src="img/birthday/footer.jpg"  style="width:100%;">
     </div> 
  </ion-footer-bar>
 
</ion-modal-view>

