<ion-modal-view>
	 <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click="closeChefModal()" >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>
<ion-content  style="background-image:url('img/menu/back.jpg'); overflow:hidden; ">
<section class="CouponPage">
     	<div class="Content1" id="" >
 				 <div style="width:100%; margin-bottom:40px;" align="center">
                 	<div style="width:96%; margin-top:2%; background-color:#e7f0f4; margin-bottom:40px;">
                 		<img src="img/rest/chefh.png" class="img-responsive" style="width:100%;">
                        
                        <p style="color:black; font-size:17pt; margin-top:2%; font-weight:bold">{{ArticleInfo.ChefRecipie_Title}}</p>
                        <div style="overflow:hidden; width:100%;">
                        	<div style="float:right; width:47%; margin-right:2%">
                            	<img src="{{imagePath}}/{{ArticleInfo.ChefRecipie_Image1}}" class="img-responsive" style="width:100%;">
                            </div>
                            <div style="float:left; width:47%; margin-left:2%">
                            	<img src="{{imagePath}}/{{ArticleInfo.ChefRecipie_Image2}}" class="img-responsive" style="width:100%;">
                            </div>
                        </div>
                        
                        <div>
                        	<p align="right" style="font-size:21px; text-align:right; direction:rtl; color:black; margin-top:-3%; padding:3%">הוראות הכנה :</p>
                            <p align="right" style="font-size:15px; text-align:right; margin-top:-10%; font-weight:100; margin-bottom:5%; direction:rtl; color:black; padding:3%">
							{{ArticleInfo.ChefRecipie_Desc}}
							<!--
							בסיר קטן לבשל מעט את האפונה הקפואה עד להתרככות קלה. אפשר להשתמש בתערובת של אפונה וגזר.
							במחבת לשים קצת שמן זית, להקפיץ בצל שחתכנו גס, ולהוסיף את הפטריות השלמות, ואת התבלינים, מעט אגוז מוסקט, פלפל שחור גרוס, 1/3 כפית כורכום ולכבות את האש.
							לבשל כוס אורז פרסי או בסמטי בסיר עם מים לבישול חלקי בלבד, מאוד קצר, חמש עד עשר דקות בלבד. לסנן ולהניח בקערה.
							לקערת האורז נכניס את הגזר והאפונה שבושלו מעט במים, נוסיף קורט קינמון, ואת הפטריות עם הבצל והתבלינים מהמחבת, נערבב הכול היטב ונוסיף מעט מלח גס.
							ניקח את העוף בשלמותו ננקה מעט במים, נכין את התבלינים בקערה ונמשוך אותו במברשת בישול מכל הכיוונים. נמלא את העוף באורז עם הירק ומה שנשאר לשמור כדי להניח בתבנית לצד העוף.
							להניח את העוף הממולא במקרר כשהוא מתובל למשך שעה.
							להוציא ולהניח בכלי חסין חום ולצקת מעט שמן זית על התבנית או על נייר אפייה. לא לצפות את התבנית להשאירה פתוחה. את יתרת האורז והירקות שנשארו להניח מסביב לעוף ולהכניס לתנור שחומם מראש בחום של 160-170 מעלות למשך שעה וחצי, לצלות בגריל לסיום הבישול לעוד עשר דקות אחרונות.
							-->
 </p>
                        </div>
                        
                        
                          <div  id="" align="center" style="margin-top:10px; left:4%; position:relative"  >
                                        <img src="img/pubs/reply.png" style="width:30%" ng-click="AddCommentChef()">
                                         <img src="img/pubs/share.png" onClick="sharePub()" style="width:30%">
                        </div>
                		
                        <div id="ReplyDivC" style="margin-bottom:30px;">
						
                        	  <div style="width:100%; overflow:hidden;" ng-repeat="item in RecipieComments">
                                    <div style="float:left;  width:85%; color:black; text-align:right">
                                        <p> <b>{{item.name}} - </b> {{item.date}}  שעה {{item.time}}</p>
                                        <p style="margin-top:-5%;"> <b>{{item.full_comment}}</p>
                                    </div>
                                    <div style="float:left; margin-top:5.7%; width:10%; margin-left:2%;">
                                        <img src="img/pubs/review.png" style="width:100%">
                                    </div>
                       		 </div>
							 
							 
							 
                        <!--
                            <div style="width:100%; overflow:hidden; margin:0 0 5% 0;">
                                <div style="float:left;  width:85%; color:black; text-align:right">
                                    <p> <b>אורית אלון - </b> 24.4.14  שעה 23:12</p>
                                    <p style="margin-top:-5%;"> <b>מעולה !! אחלה מקום  מומלץ ביותר</p>
                                </div>
                                <div style="float:left; margin-top:5.7%; width:10%; margin-left:2%;">
                                    <img src="img/pubs/review.png" style="width:100%">
                                </div>
                            </div>
						-->	
							
							
                        </div>
                    </div>
                    
                 </div>
               </div>    
        </div>   
</section>   

  </ion-content>
  </ion-modal-view>   