<ion-view title="{{navTitle}}">
  <ion-content scroll="false">
<section class="MenuPage">
              
 		<div class="Content" align="center"> 
           <div>
           
                  <table id="menuTable" align="center" style="margin-top:30px;">
                  	<tr>
						<td align="center">
                        	<img src="img/about/contact_header.png" style="width:100%; margin-bottom:20px;"  />
						</td>
					</tr>
					<tr>
						<td align="center">
                        	<img src="img/about/con_1.png" style="width:100%;" ng-click="ShowAboutModal()" />
						</td>
					</tr>
					<tr ng-click="ShowFaqModal()" >
						<td align="center" >
                            <img src="img/about/con2.png" style="margin-top:10px; width:100%;" />
						</td>
					</tr>
					<tr>
						<td align="center">
                        	<img src="img/about/con3.png" style="width:100%; margin-top:10px;" ng-click="ShowCrewModal()" />
						</td>
					</tr>
					
                  </table>
          
                  
           </div>  
      </div>
</section>
 </ion-content>
</ion-view>