<ion-view title="{{navTitle}}">
 <ion-content>
 
<section class="GalleryPage" style="background-image:url('img/menu/back.jpg'); overflow:hidden">
         <div class="ContentList" style="margin-top:0%; padding-top:7%; height:95%; overflow:scroll">
         	   <div id="galleryBanner" style=" margin-bottom:0%; margin-top:20%; width:100%" align="center">
                 		<img src="img/banner/4.jpg" style="width:100%" />
                 </div>
                 
      		 <div style="overflow:hidden; width:100%; margin-top:20px;" align="center" >
                 <div style="width:100%; margin-bottom:150px; " align="center">
                      <!-- <div style="width:92%;">
                          <img id="big_Image_Line" ng-src="{{imagePath}}/{{CurrentGalleryImage}}" style="width:100%; border:solid 5px white; position:relative; left:-1.7%; margin-top:15%;">
                      </div> -->
                      <ion-slide-box on-slide-changed="slideHasChanged($index)" >
                          <ion-slide ng-repeat="item in Gallery">
                             <img src="{{imagePath}}/{{item.image}}" style="width:100%">
                          </ion-slide>
					</ion-slide-box>
                    <!--  <div style="width:100%; overflow-y:scroll; position:absolute; margin-bottom:50px; background-image:url('img/menu/back.jpg');" align="center">
                          <table style="position:relative; bottom:5%; width:{{galleryWidth}}; left:0%; margin-bottom:50px; top:85%" align="center">
                              <tr id="GalTable" style="overflow:auto; display:inline"  >
                                  <td ng-repeat="item in Gallery">
                                      <img src="{{imagePath}}/{{item.image}}" ng-click="Gal_Btn($index)"  style="width:100%;">
                                  </td>
                              </tr>
                          </table>
                      </div> -->
                      
                      <div class="" >
                              <ion-scroll direction="x" class="wide-as-needed" >
                                <img ng-repeat="item in Gallery" src="{{imagePath}}/{{item.image}}" ng-click="Gal_Btn($index)"  style="width:100px;">
                              </ion-scroll>
                      </div>
          
                       
                 </div>
               </div>
        </div>         			 
        
        
          
   
</section>

  </ion-content>
</ion-view>