<ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
   <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeInvite()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>
  <ion-content style="background-image:url('img/menu/back.jpg'); overflow:hidden; ">
  

<section class="InvitePage" ng-controller="inviteController">
 		<!--
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='closeInvite()'>
                             		<img src="img/main/back.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%;">
                               </td>
                           </tr>
                     </table>
       	</div>        
        -->
     	<div id="main" style=" margin-top:5%; overflow:hidden; width:100%;" >
              <div>
                 	<img src="img/invite/head.jpg" style="width:100%;" />
              </div>
			 <form name="invite_form" ng-submit="sendInvite()" role="invite_form" novalidate>

                        <!---------------------------    Inmpu Text ------------------------------->
                        <div align="center">
                            <div style="width:100%;">
                                <input type="text" placeholder="שם המזמין"  name="name" ng-model="inviteparams.name" id="invName"   value=""  style="text-align:right; margin-top:3%; width:90%;  font-size:21px; position:relative" required />
								<!--
								<span ng-show="invite_form.name.$error.required && invite_form.name.$error.required" class="help-block">שדה חובה</span>
								-->
                                 <input type="email" placeholder="מייל"  name="email" ng-model="inviteparams.invMail"  id="invMail"   style="text-align:right;  margin-top:3%; width:90%;  font-size:21px; position:relative" required />
								<!--
								<span ng-show="invite_form.email.$dirty && invite_form.email.$error.required" class="help-block">שדה חובה</span>
                               -->
							   <input type="number" placeholder="טלפון להתקשרות" name="phone" ng-model="inviteparams.invPhone" id="invPhone"     style="text-align:right; width:90%; margin-top:3%;    font-size:21px; position:relative" required />
							<!--		
							<span ng-show="invite_form.phone.$dirty && invite_form.phone.$error.required" class="help-block">שדה חובה</span>
							-->
							   <div data-role="fieldcontain" style="width:100%; padding-top:3%; position:relative">
                                	<textarea cols="20" rows="3" name="textarea" ng-model="inviteparams.invDetails"  placeholder="בקשות מיוחדות" id="invDetails" style="text-align:right; width:90%; font-size:21px; position:relative" ></textarea>

								</div>
							
                             <div style="width:100%;">
                            	<div style="width:90%; overflow:hidden; margin-top:3%">
                                <div style="width:20%; margin-top:3%; float:right">
                                		<label for="select-choice-custom1" class="select" style="color:white;  margin-top:30%; font-weight:bold; font-size:16px; text-align:left; margin-left:12%"><span style="padding-top:30px">תאריך</span></label>
                                    </div>
                                     <div style="width:70%; margin-top:1%; float:left">
                           		<input type="date" placeholder="תאריך הגעה"  name="bday" ng-model="inviteparams.invDate"  id="invDate"  style="width:100%;  margin-top:3%; font-size:17px; color:#000; position:relative" required /></div>
                                </div>
								<!--
								<span ng-show="invite_form.bday.$dirty && invite_form.bday.$error.required" class="help-block">שדה חובה</span>
								-->
                            
                            
                            
                            
                            <!------------------------  משקה מועדף   -->
                             
                               
                            <div style="width:100%;">
                            	<div style="width:90%; overflow:hidden; margin-top:3%">
                                    <div style="width:30%; margin-top:3%; float:right">
                                		<label for="select-choice-custom1" class="select" style="color:white;  margin-top:30%; font-weight:bold; font-size:16px; text-align:left; margin-left:8%"><span style="padding-top:30px">מטרת הגעה</span></label>
                                    </div>
                                    <div style="width:70%; margin-top:1%; float:left">
                                        <select name="fav" id="select-choice-custom1" ng-model="inviteparams.puppose" data-native-menu="false" style="width:100%; font-size:21px;" >
                                            <option value="בילוי">בילוי</option>
                                            <option value="יום הולדת">יום הולדת</option>
                                            <option value="אחר">אחר</option>
                                        </select>
										<!--
										<span ng-show="invite_form.fav.$dirty && invite_form.fav.$error.required" class="help-block">שדה חובה</span>
										-->
										</div>
                                  </div>
                            </div>
                            
                             <div data-role="fieldcontain" class="ui-field-contain" style="width:100%; margin-top:4%">
                            	<div style="width:90%; overflow:hidden">
                                    <div style="width:30%; float:right">
                                		<label for="select-choice-custom2" class="select" style="color:white;  margin-top:4%; font-weight:bold; font-size:16px; text-align:left; margin-left:8%">מקום ישיבה</label>
                                    </div>
                                    
                                    <div style="width:70%; margin-top:1%; float:left">
                                        <select name="loc" id="select-choice-custom2" ng-model="inviteparams.location"  style="width:100%; font-size:21px;" >
                                            <option value="שולחן">שולחן </option>
                                            <option value="על הבר">על הבר</option>
                                        </select>
										<!--
										<span ng-show="invite_form.loc.$dirty && invite_form.loc.$error.required" class="help-block">שדה חובה</span>
										-->
										</div>
                                  </div>
                            </div>
                             </div>  
                         </div>
                           
                           
                        </div>
                        
                        <div style="width:100%;  margin-top:5%;" align="center">
						
                        	<div ng-click='sendInvite()' style="width:30%;  padding-bottom:20%;" >
                            	<img src="img/invite/ok.png" style="width:100%;">
                            </div>
						
						<!--
						  <input type="submit"   ng-disabled="invite_form.$invalid" class="button button-block button-positive" value="אישור">
						-->
                        </div>
                 </div>   
				 </form>
</section> 

  </ion-content>
</ion-modal-view>
       