<ion-view title="{{navTitle}}">
 <ion-content>
 
 
<section class="LinePage" style="width:100%">
         
        <div class="Content" id="LineDiv">   
            <div> 
               
                   		  <!-- Day Status -->
                          <div id="dayStatus" align="center">
      					  		<p>יום 3331 &nbsp; 24.1110.14</p>
                          </div>
                          <!-- Details -->
                       <div style="width:100%; overflow:hidden">
                                <div id="Line_Logo" ng-click="showImageModal()">
                                    <img id="lthumbLogo" src="{{imagePath}}/{{image}}" class="IMG">
                                </div>
                                <div id="InfDv">
                                    <p class="lpubTitle" style="direction:rtl">{{title}}</p>
                                    <p class="lpubAdress">{{address}}</p>
                                    <div id="LineTitle">
                                        <div id="LineTitleDv1" ng-click="Call({{phone}})" style="cursor:pointer">
                                            <p class="lpubPhone" >טלפון : {{phone}}</p>
                                        </div>
                                        <div id="LineTitleDv2" ng-click="openImport()">
                                            <img src="img/pubs/import.png" />
                                        </div>
                                    </div>
                                    <p class="lpubType">שעות פעילות : {{hours}}</p>
                                </div>
						</div>
                        
                        <!-- Bussiness Page Btn -->
                        <div ng-if="Category != 5" style="width:100%; z-index:20; cursor:pointer" align="center" ng-click="navigateToPub('#/app/Pub/',ArticleInfo.CatIndex)">
                     		<div style="width:95%; position:relative;">
                     			<img id="" src="img/pubs/page.png" style="width:100%;">
                            </div>
                        </div>
                        
                        <!-- Line Icons Table -->
                        <div style="width:100%" align="center" >
                            <table style="width:90%; position:relative;  margin-top:3%" align="center">
                                <tr style="width:100%;">
                                    <td ng-click="openRate()" style="cursor:pointer; top:1px; position:relative">
                                        <img src="img/pubs/rate.png" style="width:100%;"  />
                                    </td>
                                    <td style="position:relative; top:-20px;"   ng-click="openWaze({{waze}})" >
                                        <img src="img/pubs/navigate.png"  style="width:100%;"  />
                                        <div style="position:relative">
                                            <p id="Navigate" style="position:absolute; font-size:12px; color:white; top:0%; left:14%; ">5 ק"מ ליעד</p>
                                            <img src="img/pubs/navigate1.png"  style="width:100%"  />
                                        </div>
                                    </td>
                                    <td ng-click="openYoutube()" >
                                        <img src="img/pubs/youtube.png" class="img-responsive" style="width:100%;"  />
                                    </td>
                                    <td ng-click="openFacebook()">                                        <img src="img/pubs/facebook.png" class="img-responsive" style="width:100%;"  />
                                    </td>
                                 </tr>
                             </table>
                         </div>
                         <!-- Gallery -->
                         <div  style="position:relative; width:100%; margin-top:4%; z-index:0;" align="center">
                       		<div class="content-primary">
                       			<table>
                                	<tr>
                                    	<td ng-click="navigateGallery('#/app/Gallery/',whichItem,0)" style="width:30%; cursor:pointer">
                                        	<img src="{{imagePath}}/{{Gallery[0].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,1)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[1].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,2)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[2].image}}" style="width:98%" />
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td ng-click="navigateGallery('#/app/Gallery/',whichItem,3)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[3].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,4)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[4].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,5)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[5].image}}" style="width:98%" />
                                        </td>
                                    </tr>
                                </table>
                             </div>
                         </div>
                         
                        
                       <!-- Rate -->
                       <div align="center" style="position:relative; margin-top:'+mt+'">
	 				 		<p style=" color:white;">דירוג
                                <span style="position:relative; top:15px;">
                                    <img id="LineStar1" src="img/pubs/star.png" style="width:10%;">
                                    <img id="LineStar2" src="img/pubs/star.png" style="width:10%;">
                                    <img id="LineStar3" src="img/pubs/star.png" style="width:10%;">
                                    <img id="LineStar4" src="img/pubs/star.png" style="width:10%;">
                                    <img id="LineStar5" src="img/pubs/star.png" style="width:10%;">
                                </span>
                             </p>
                   	   </div>
                       
                       <!-- About -->
                       <div align="center">
                   			<p id="LineDiscription" style="color:white; width:95%; direction:rlt;">{{about}}</p>
                   	   </div> 
                       
                       <!-- Like Invite Icons -->
                       <div style="width:100%; overflow:hidden; margin-top:-2%">
                             <div id="inviteDiv" style="width:50%; float:left;" ng-click="showInvite()">
                                  <div style="width:68%; margin-left:30%" align="right">
                                    <img src="img/pubs/likeline3.png" style="width:100%"/>
                                  </div></div>
                                  <div style="width:50%; float:left;" align="left" ng-click="increaseLike()">
                                    <div style="width:70%; margin-left:5%; margin-top:2%; overflow:hidden" align="left">
                                        <div style="position:relative; float:left; width:40%">
                                            <p id="likeId" style="position:absolute; left:29%; font-size:13px; top:13%; font-weight:bold; color:#00467b">{{likes}}</p>
                                            <img src="img/pubs/like02.png" style="width:100%"/>
                                        </div>
                                        <div style="position:relative; float:left; width:60%">
                                            <img src="img/pubs/{{likeBtnUrl}}.png" style="width:100%"/>
                                        </div>
                                    </div>
                              </div>
                      </div>
                      
                      
                      <!-- Facebook Friends -->
                      <div align="center" style=" margin-top:-2%">
                        	<p style="font-weight:bold; color:#CCC"> {{flikes}}  חברים אוהבים את הליין הזה</p>
                        	<img src="img/pubs/linelove.jpg"  style="width:100%;  margin-top:-3%" />
                      </div>
                      
                       <div ng-if="Category == 5" style="width:100%;">
                      		<table align="center" style="direction:rtl; width:100%;">
							<!--
                            	<tr ng-repeat="n in [] | range:3" >
                                	<td ng-repeat="z in [] | range:3"  style="width:33%; direction:rtl">
                                    	<img  src="img/rest/check.png" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">{{InfoArray[(n*3)+z]}}</span>
                                    </td>
                                </tr>
							-->
							
							   <tr>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_outside}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">ישיבה בחוץ</span>
                                    </td>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_events}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">אירועים</span>
                                    </td>	
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_delivery}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">משלוחים</span>
                                    </td>										
                                </tr>

							   <tr>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_handicap}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">גישה לנכים</span>
                                    </td>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_parking}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">חנייה</span>
                                    </td>	
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_kosher}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">כשר</span>
                                    </td>										
                                </tr>
							<tr>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_saturday}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">פתוח בשבת</span>
                                    </td>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_shows}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">הופעות</span>
                                    </td>	
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_wifi}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">WIFI</span>
                                    </td>										
                             </tr>
								
								
                            </table>
                      </div>
                      
                      
                      <!-- Like Invite Icons -->
                       <div ng-if="Category == 5" style="width:100%; overflow:hidden; margin-top:-2%" align="center">
                             <div id="inviteDiv" style="width:90%" >
                                  <div style="width:50%; float:right;" align="right"  ng-click="navigateUrl('#/Pub/',whichItem)" >
                                    <img src="img/show/bpage.png" style="width:100%"/>
                                  </div>
                                  <div style="width:50%; float:left; margin-top:1px;" align="left" ng-click="Invite_Show_Popup()"  >
                                    <img src="img/show/order.png" style="width:100%"/>
                                   </div>
                              </div>
                      </div>
                      
                      
                      <!-- Coupon_Icons -->
                      <table ng-if="Category != 5" style="width:100%; position:relative;  margin-top:3%" align="center">
                        	<tr style="width:100%; margin-left:25%;">
                            	<td id="couponBtn" ng-click="openCoupons({{id}})">
                                	<img src="img/pubs/coupon.png" style="width:100%" >
                                </td>
                                <td id="BirthdayBtn" ng-click="openBirthdays({{id}})">
                                	<img src="img/pubs/birthdays.png" style="width:100%">
                                </td>
								
								<td  ng-click="OpenPrvParty({{id}})">
                                	<img src="img/pubs/old_images.png" style="width:100%">
                                </td>
							</tr>
                      </table>
                      
                      <!-- Share Icons -->
                      <div id="">
                        <img src="img/menu/line.png" style="width:100%; position:relative; ">
                      </div>
                      
                      <div ng-if="Category != 5" id="" style="margin-top:10px;  position:relative" align="center">
                         <img src="img/pubs/share.png" style="width:30%" ng-click="ShareBtn()">
                         <img id="reviewBtn" src="img/pubs/opinion.png" style="width:30%" ng-click="OpenReview()" ></a>
                         <img id="teamBtn" ng-click="OpenTeam()" src="img/pubs/team.png" style="width:30%">
                      </div>
                      
                      <!-- Week Icons
                      <div id="" style="margin:3% 0 3% 0; width:100%;" align="center">
                        <img id="Week" src="img/pubs/week.jpg" style="width:96%; position:relative;" onClick="AddContentToPopup(5)">
                        <table id="DetailsTable" style="width:100%; overflow:hidden" align="center">
                        </table>
                      </div> -->
                      
                      <!-- Week Icons -->
                      <div ng-if="Category == 2" style="width:100%" align="center">
                          <div  style="width:65%; overflow:hidden" align="center" >
                                <div  id="revDv" align="center" style="margin-top:10px; right:0%; position:relative; float:right; width:50%" ng-click="AddReplay()">
                                   <img src="img/pubs/reply.png" style="width:100%" >				   
                                </div>
                                <div  id="revDv" align="center" style="margin-top:10px; right:0%; position:relative; float:left; width:50%" ng-click="Club()">
                                   <img src="img/club/addclubbutton.png" style="width:100%" >				   
                                </div>
                          </div>
                       </div>
                      
                      <div ng-if="Category != 2"  id="revDv" align="center" style="margin-top:10px; right:0%; position:relative" ng-click="AddReplay()">
							   <img src="img/pubs/reply.png" style="width:30%" >			   
					  </div>
                      
                      <div style="width:100%; overflow:hidden; margin-top:-2%;" >
                      	<div  ng-repeat="item in ReplayArray" >
                            <div style="float:left; text-align:right; padding-top:20px;  width:85%; color:white">
                                 <p> <b>{{item.name}}</b> {{item.date}}  שעה {{item.time}}</p>
                                 <p style="margin-top:-5%;"> <b>{{item.text}}</p>
                            </div>
                            <div style="float:left; margin-top:5.7%; width:10%; margin-left:2%;">
                                 <img src="{{item.img}}" style="width:100%">
                            </div>
                         </div>
           			 </div>
            
                      <!-- Footer Icons -->
                      
                      <table style="width:100%; position:relative; background-image:url(img/pubs/bck.jpg); background-size:100%; background-repeat:repeat;width:100%; ">
                        	<tr style="width:100%;">
                            	<td  ng-click="AddFavorite()" >
                                	<img src="img/pubs/bot3.png" style="width:100%">
                                </td>
                                <td ng-click="sendToMail(1)"   >
                                	<img src="img/pubs/bot2.png" style="width:100%">
                                </td>
                               
                                <td ng-click="sendToMail(2)"  >
                                	<img src="img/pubs/bot1.png" style="width:100%" >
                                </td>
                            </tr>
                    </table>
                      
            </div>
   		</div>
</section>


 	 <script id="image-line-modal.html" type="text/ng-template">
     
			<div> 
			 <div style="width:100%; height:{{screenHeight}}px; background-color:white">
				<ion-slide-box active-slide="myActiveSlide" show-pager="false">
					  <ion-slide >
						<img src="{{imagePath}}/{{image}}" style="width:100%" />
						</ion-slide >   						
				</ion-slide-box>
			</div>
				<div class="row" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >
					 <button ng-click="closeImageLineModal()"  class="button icon-chevron-left ion-close button-block button-assertive col col-40" style="margin-left:2px; direction:rtl; margin-right:0px" >
					  סגור
					</button>
				</div>
		   </div>
    </script>
 </ion-content>
</ion-view>