<ion-view title="{{navTitle}}">
  <ion-content scroll="false">
<section class="MenuPage">
              
 		<div class="Content"> 
           <div>
                  <table id="menuTable">
                      <tr>
                          <td>
                              <img src="img/menu/restaurant.png"  style="width:100%;" ng-click="navigateUrl('#/app/List/',1)">
                          </td>
                          <td>
                              <img src="img/menu/clubs.png"  style="width:100%;" ng-click="navigateUrl('#/app/List/',2)">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <img src="img/menu/pubs.png"  style="width:100%; cursor:pointer;" ng-click="navigateUrl('#/app/List/',3)">
                          </td>
                          <td>
                               <img src="img/menu/movies.png"  style="width:100%;" ng-click="navigateUrl('#/app/List/',4)">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <img src="img/menu/theatre.png"  style="width:100%;" ng-click="navigateUrl('#/app/List/',5)">
                          </td>
                          <td>
                              <img src="img/menu/bowling.png"  style="width:100%;" ng-click="navigateUrl('#/app/List/',6)">
                          </td>
                      </tr> 
                  </table>
           </div>  
      </div>
</section>
 </ion-content>
</ion-view>