
<ion-view>
 <ion-content ng-class="ShowDaysPanel? 'has-subheader' : ''"  >
 	
    <!-- <div style="width:100%; overflow-y:scroll;" align="center">
                          <table style="position:relative; width:500px; right:0%; direction:rtl; text-align:right; margin-top:2%; " align="center">
                              <tr style="overflow:auto; display:inline; direction:rtl; text-align:right; position:relative; margin-left:10px;"  >
                                  <td ng-repeat="item in Days" class="dayThumb">
                                  	<div>
                                  		{{item.day}}
                                     </div>
                                  </td>
                              </tr>
                          </table>
                      </div> -->
                                        
    <section class="ListPage">
      
          <div  ng-class="Category == 4 ? 'Content2' : 'Content2'"    id="ListDiv" style="position:relative;  overflow:scroll; z-index:2"> 
                    <!--
					<div id="TableBtn" align="center">
                        <table style="width:70%; margin-top:5%; padding-top:10px;" align="center">
                             <tr style="width:100%">
                                 <td style="width:50%" ng-click="shuffle_table()">
                                    <img ng-src="{{popButton}}" ng-click="PopLenClicked(1)"  style="width:100%;">
                                 </td>
                                 <td style="width:50%" ng-click="shuffle_table()">
                                    <img src="{{LenButton}}"  ng-click="PopLenClicked(2)" style="width:100%;">
                                 </td>
                             </tr>
                        </table>
                     </div>      
                     -->               
                   
                     
                     <div id="pubList" style="">
                     	<!-- filter:{'CatIndex':{{CatId}}}:true -->
                        <div id="repeatDiv" style="margin-left:0%; width:100%;" ng-repeat="item in EsekAndLines | filter:byCatIndex():true " my-repeat-directive >
                       			<div>
                                    <div ng-click='navigateNearby(item.articleId,item.index)'>
									
									<!--
                                        <div ng-if="$index%3 == 0 && infoArray.indexOf(item)!= 0">
                                            <div ng-if="$index == 3" style="margin-top:-1%;">
                                                <img src="img/banner/{{Rand1}}.jpg" style="width:100%; position:relative">
                                            </div>
                                            <div ng-if="$index == 6" style="margin-top:-1%;">
                                                <img src="img/banner/{{Rand2}}.jpg" style="width:100%; position:relative">
                                            </div>
                                            <div>
                                                <img src="img/menu/line.png" style="width:100%; margin-top:0px; position:relative">
                                            </div>
                                        </div>
                                        
                                   -->
                                        <div style="float:left; width:70%; margin-left:-7px; margin-top:3px;" align="right">
                                          
                                            <div ng-if="Category == 1 || Category == 6" style="position:absolute; left:8px; margin-top:15px; width:15%;">
                                                <img src="img/rest/open.png" style="width:100%; margin-top:0px; position:relative">
                                            </div>
                                            
                                            <div style="float:left; width:95%; margin-left:2%; margin-top:2%; ">
												
                                                <h3 style="color:white;" dir="rtl">{{item.BusinessName | cutTitle:true:15 }} </h3>
                                                <h4 ng-if="Category != 4" style="color:white;  margin-top:-3%;">{{item.Address}}</h4>
                                                <h4 ng-if="Category == 4" style="color:white;  margin-top:-3%;">סוג : {{item.Address}}</h4>
                                                <h4 ng-if="Category == 4" style="color:white;  margin-top:-3%;">אורך : {{item.Phone}}</h4>
                                                <h5  style="color:white;  margin-top:-4%; direction:rtl">{{item.About|cutString_ListPage:true:60}}</h5>
                                                
                                                <div style="position:relative; top:-15px;">
                                                	<p style=" color:white;">דירוג 
                                                    <span style="position:relative; top:7px;">
                                                    <img id="LineStar"'+j+' src="img/pubs/fstar.png" style="width:8%;">
                                                    <img id="LineStar"'+j+' src="img/pubs/fstar.png" style="width:8%;">
                                                    <img id="LineStar"'+j+' src="img/pubs/fstar.png" style="width:8%;">	
                                                    <img id="LineStar"'+j+' src="img/pubs/star.png" style="width:8%;">
                                                    <img id="LineStar"'+j+' src="img/pubs/star.png" style="width:8%;">        
                                                    <span style="color:white; padding-right:14px; padding-left:14px; padding-top:2px; padding-bottom:2px; border-radius: 25px; margin-right:5px; top:-7px; position:relative; background-color:#000;">5 ק"מ</span></span></p></div></div></div>	
                                                    
                                                    
                                                    <div style="float:left; width:30%;  margin-top:4%; margin-left:-1%;" align="center">
                                                        <img src="{{imagePath}}/{{item.Image}}" style="width:100%; position:relative">
                                                    </div>		  
                                                    <div>
                                                    	<img ng-if="Category != 4" src="img/menu/line.png" style="width:100%; margin-top:-5%; position:relative">
                                                    	<img ng-if="Category == 4" src="img/menu/line.png" style="width:100%; margin-top:0%; position:relative">
                                                	</div>
                                        	</div>
                            	
                                	</div>
                                 </div>
                    		</div>
            		</div>
           		</div> 
    </section>
   </ion-content>
</ion-view>