<ion-view title="{{navTitle}}" >
  <ion-content ng-controller="Points">
<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
		 <!--
		 <div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
        -->
     	<!-- <div class="Content1" id="CouponContent"> -->
		<div style="margin-top:20px;">
                 <div style="margin-top:0%;">
                     <div style="width:100%;" align="center"><p style="font-size:33px; font-weight:300;">פרופיל אישי</p></div>
                     
                     <div style="width:100%; margin-top:3%;" align="center">
                                <table style="width:97%; margin-left:1%;">
                                    <tr style="padding:4px;">
                                        <td>
                                            <img src="img/profile/footer3.png" style="width:100%;  margin-top:-2px;" />
                                        </td>
                                        <td>
                                            <img src="img/profile/footer2.png" style="width:100%;" />
                                        </td>
                                        <td>
                                            <img src="img/profile/footer1.png" style="width:100%;" />
                                        </td>
                                    </tr>
                                </table>
                     </div>
                     
                     <div style="width:100%; overflow:hidden">
                    	<div style="width:35%; padding:10px; float:right">
                        	<img src="img/profile/profile_img.jpg" style="width:100%;" />
                        </div>
                        <div style="width:55%; margin-left:3%; margin-top:1%; float:left">
                        	<img id="prof_login" src="img/profile/facbook_login.png" style="width:100%; margin-top:2%;"  onClick="Profile_Login_Click()"/>
                           
                            <input type="text" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " placeholder="" value="גילי בניטה" />
                            
                        </div>
                    </div>
                   </div>
                   

                    <div style="width:100%; overflow:hidden; margin-top:0%; direction:rtl" align="center">
                    		<div style="padding:5px; text-align:center; width:100%;" align="center">
                            	<div style="" align="center">
                            		<p style="font-size:33px; font-weight:300;">טבלת ניקוד</p>
                                </div>
                            </div>
                            
                          <div style="width:100%" align="center">  
                             <table style="width:100%; margin-top:0%; padding:10px;" align="center">
                                
                                    <tr style="background-image:url(img/profile/bck2.png); font-size:20px; padding:10px; font-weight:100">
                                        <td style="width:33%; text-align:right; padding-right:20px;">שם</td>
                                        <td style="width:33%; text-align:right">שם משפחה</td>
                                        <td style="width:33%; text-align:right">נקודות</td>
                                    </tr>
                                    
                                     <tr ng-repeat="row in scores" style="background-image:url(img/profile/bck1.png);  font-size:20px; padding:3px;">
                                        <td style="width:33%; text-align:right; padding-right:20px;">{{row.index}}. {{row.firstname}}</td>
                                        <td style="width:33%; text-align:right">{{row.lastname}}</td>
                                        <td style="width:33%; text-align:right">{{row.score}}</td>
                                    </tr>
                                
                                <!--
                                 <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                                    <td style="width:33%; text-align:center">דור</td>
                                    <td style="width:33%; text-align:center">ביטון</td>
                                    <td style="width:33%; text-align:center">1987</td>
                                </tr>
                                <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                                    <td style="width:33%; text-align:center">גילי</td>
                                    <td style="width:33%; text-align:center">בניטה</td>
                                    <td style="width:33%; text-align:center">1587</td>
                                </tr>
                                 <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                                    <td style="width:33%; text-align:center">שי</td>
                                    <td style="width:33%; text-align:center">לוסקי</td>
                                    <td style="width:33%; text-align:center">2290</td>
                                </tr>
                                 <tr style="background-image:url(img/profile/bck1.png); font-size:20px; padding:3px;">
                                    <td style="width:33%; text-align:center">דור</td>
                                    <td style="width:33%; text-align:center">ביטון</td>
                                    <td style="width:33%; text-align:center">1987</td>
                                </tr>
                                -->
                             </table>
                         </div>
                          <div style="margin:5% 0 5% 0; width:100%" align="center" >
                    	<div style="width:25%;" ng-click="navigateUrl('#/app/profile/',-1)">
                 			<img src="img/pubs/closel.png"  style="width:100%;">
                        </div>
                 	</div>
                    </div>
        </div>   
</section>      

</ion-content>
</ion-view>   