


<ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
   <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeRestMenuModal()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>


  <ion-content   style="background-image:url('img/menu/back.jpg'); margin-top:-20px;">
<section class="BirthdayPage" style="overflow:hidden">
 		<img src="{{imagePath}}/{{ArticleInfo.RestImage1}}" style="width:100%" />

</section>    

  </ion-content>
 
</ion-modal-view>

