<section class="GalleryPage" style="background-image:url('img/menu/back.jpg')">
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%;">
                               </td>
                           </tr>
                     </table>
       	</div>        
                
 
        <div class="YouTubePage" id="ListDi12v" style="position:relative; margin-top:20%; overflow:scroll; z-index:2"> 
                <iframe width="100%" height="250" src="https://www.youtube.com/embed/stPKSjQoXGc" frameborder="0" allowfullscreen></iframe>
                <div style="height:30px;"></div>
                <iframe width="100%" height="250" src="https://www.youtube.com/embed/11TOIXR9XpE" frameborder="0" allowfullscreen></iframe>
        </div>         			 
</section>

<script>
	
</script>