<ion-view title="{{navTitle}}" >
  <ion-content scroll="false">
    <section class="MainPage1">
       <div class="Content" style="margin-top:40%;" ng-click="facebookLogin()">       
       		<img src="img/about/con_1.png" style="width:100%;" />
       </div>
</section> 
  </ion-content>
</ion-view>
