<ion-view title="{{navTitle}}" >
  <ion-content ng-controller="CouponsController">
  
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  
  <ion-header-bar class="bar-dark">
  	  <ion-nav-back-button >
      	 סגור
      </ion-nav-back-button>
      <h1 class="title">עמוד קופונים</h1>
    </ion-header-bar>
     <a class="button icon-left ion-chevron-left " ng-click='closeCouponsPopup()'>סגור</a>
    
	
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeCouponsPopup()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>



  <ion-content style="background-image:url('img/menu/back.jpg')">
-->
<section class="CouponPage" >


       
     	<!-- <div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:20px;">
 				<div ng-repeat="item in CouponsArray">
				<!-- ng-click='openCoupon()' -->
                	<div style="width:95%; margin:0% 0 0% 3%;" >
					<div align="center">
						<label>{{item.title}}</label>
					</div>
						<img src="{{imagePath}}/{{item.image}}" ng-click="BigCoupon($index)" style="width:100%">
					</div>
                </div>
				
		</div>
	<!--
        </div>   
	-->
</section>       


 	 <script id="big-coupon-modal.html" type="text/ng-template">
     
			<div> 
			 <div style="width:100%; height:{{screenHeight}}px; background-color:white">
				<ion-slide-box active-slide="myActiveSlide" show-pager="false">
					  <ion-slide >
						<img src="{{imagePath}}/{{couponimage}}" style="width:100%" />
						</ion-slide >   						
				</ion-slide-box>
			</div>
				<div class="row" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >
					 <button ng-click="closeBigCouponModal()"  class="button icon-chevron-left ion-close button-block button-assertive col col-40" style="margin-left:2px; direction:rtl; margin-right:0px" >
					  סגור
					</button>
				</div>
		   </div>
    </script>
	
	

  </ion-content>
</ion-view>   