<ion-view title="{{navTitle}}">
  <ion-content scroll="false">
<section class="MenuPage">
              
 		<div class="Content" align="center"> 
           <div>
                  <table id="menuTable" align="center" style="margin-top:60px;">
                  	<tr>
						<td align="center">
                        	<img src="img/about/m_1.png" style="width:100%; margin-bottom:20px;"  />
						</td>
					</tr>
					<tr>
						<td align="center">
                        	<img src="img/about/m2.png" style="width:100%;" ng-click="ShowAboutModal()" />
						</td>
					</tr>
					<tr ng-click="ShowFaqModal()" >
						<td align="center" >
                            <img src="img/about/m3.png" style="margin-top:-14px; width:100%;" />
						</td>
					</tr>
					<tr>
						<td align="center">
                        	<img src="img/about/m4.png" style="width:100%; margin-top:-10px;" ng-click="ShowCrewModal()" />
						</td>
					</tr>
					<tr>
						<td align="center">
                        	<img src="img/about/m5.png" style="width:100%; margin-top:-5px;" ng-click="ShowTermsModal()" />
						</td>
					</tr>
					<tr>
						<td align="center">
							<img src="img/about/m6.png" style="width:100%;  margin-top:-8px;" ng-click="ShowTermsModal()" />
						</td>
					</tr>
					<tr>
						<td align="center"> 
                        	<img src="img/about/m7.png" style="width:100%;" ng-click="ShowPointsModal()" />
						</td>
					</tr>						
                  </table>
           </div>  
      </div>
</section>
 </ion-content>
</ion-view>






<!--

 <table id="menuTable" align="center" style="margin-top:50px;">
					<tr style="margin-bottom:20px;">
						<td align="center">
                        	<img src="img/about/m_1.png" style="width:100%; margin-bottom:20px;" ng-click="ShowAboutModal()" />
						</td>
					</tr>
					<tr ng-click="ShowFaqModal()" >
						<td align="center" >
                            <img src="img/about/m2.png" style="width:100%;" />
						</td>
					</tr>
					<tr>
						<td align="center">
                        	<img src="img/about/m3.png" style="width:100%; margin-top:-10px;" ng-click="ShowCrewModal()" />
						</td>
					</tr>
					<tr>
						<td align="center">
                        	<img src="img/about/m4.png" style="width:100%; margin-top:-5px;" ng-click="ShowTermsModal()" />
						</td>
					</tr>
					<tr>
						<td align="center">
							<img src="img/about/m5.png" style="width:100%;" ng-click="ShowTermsModal()" />
						</td>
					</tr>
					<tr>
						<td align="center"> 
                        	<img src="img/about/m4.png" style="width:100%;" ng-click="ShowPointsModal()" />
						</td>
					</tr>						
                  </table>

!-->