<ion-view title="{{navTitle}}" >
  <ion-content scroll="false">
    <section class="MainPage">
		<!-- <div class="Header">
                    <table class="HeadTable">
                          <tr>
                               <td class="HeadTdLeft" ng-click="showInfo()">
                             		<img src="img/main/question.png"  style="width:100%;" />
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%;" />
                               </td>
                               <td class="HeadTdRight" onClick="HeaderNavigate(1)" >
                           			<img src="img/main/menuicon.png"  style="width:100%;" />
                               </td>
                           </tr>
                     </table>
       </div>-->     
       
      
       
       <div class="Content">       
       		<div id="MainPageContent">
            	
               <div id="mainPageLogo" align="center"  >
                          <img src="img/main/logo.png" >
               </div>
               
               <div id="mainPageWhere"  align="center">
                          <img src="img/main/where.png" >
               </div>
               
               <div id="mainPageNext" align="center" ng-click="navigateUrl('#/app/categories','')">
                          <img src="img/main/next.png"  style="width:20%;">
               </div>
               
               
               <div id="MainButtons"  align="center">
                          <div id="MainButtonsDiv" >
                                  <img src="img/main/bt3.png" class="MainButtonsClass" ng-click="navigateUrl('#/app/news/-1','')">
                                  <img src="img/main/bt2.png" class="MainButtonsClass" ng-click="navigateUrl('#/app/profile/-1','')">
                                  <img src="img/main/bt1.png" class="MainButtonsClass" ng-click="navigateUrl('#/app/maincoupons/-1','')">
                         </div> 
               </div>
            </div>
       </div>
</section> 
  </ion-content>
</ion-view>
