<ion-side-menus side="left"   width="130"  enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center"  class="bar-dark"  no-tap-scroll=true >
     
     <ion-nav-back-button >
      	 חזור
      </ion-nav-back-button>
      
       <ion-nav-buttons side="right">
      	 <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
     
    
      
      <ion-header-bar  align-title="center"  class="bar-stable">
      	<h1 class="title">תפריט</h1>
      </ion-header-bar>
      
       
      
      
     

      
      
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>



  
  
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
     <ion-content>
      <ion-list>
        <ion-item ng-show="showMenu" class="heading-item item item-avatar"  nav-clear menu-close ui-sref="app.main">
          <div class="user-image-container" >
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="{{profileimage}}"  style="width:60px; margin-top:-10px;" spinner-on-load>
          	</pre-img>
          </div>
          <h2 class="greeting"  style="text-align:right; left:15px; position:relative">{{name}}</h2>
          <p class="message" style="text-align:right; left:15px; position:relative">ברוכים הבאים</p>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="#/app/blogpost/1"   >
          <img width="53" class="menuimage" height="56" src="img/sidebar/home.png" alt="">
          <h2 class="menu-text"  >ראשי</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="#/app/favorites/" >
          <img width="53" class="menuimage" height="56" src="img/sidebar/fav.png" alt="">
          <h2 class="menu-text">מועדפים</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="#/app/nearby" >
          <img width="53" class="menuimage" height="56" src="img/sidebar/map.png" alt="">
          <h2 class="menu-text" >מה בסביבה</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="#/app/general" >
          <img width="53" class="menuimage" height="56" src="img/sidebar/info.png" alt="">
          <h2 class="menu-text">מידע כללי</h2>
        </ion-item>
        <ion-item class="item-icon-right" nav-clear menu-close href="#/app/contact" >
          <img width="53" class="menuimage" height="56" src="img/sidebar/contact.png" alt="">
          <h2 class="menu-text">צור קשר</h2>
        </ion-item>
        
       

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>



