<ion-view title="{{navTitle}}" >
  <ion-content ng-controller="MessagesController">
  
<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
<!--	
	<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
		  -->
        <!--
     	<div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:30px;">
 				<div id="NewsContent" style="width:100%; margin-top:0%;" align="center">
                 	<p id ="NewsHeader">פרופיל אישי</p>
                    <img src="img/menu/line.png" style="width:100%; margin-top:-35px; position:relative">
					<p style="direction:rtl;">{{username}} יש לך {{messageCount}} הודעות חדשות
				<div my-repeat-directive="" ng-repeat="item in messagesArray" my-repeat-directive style="margin-left: 0%; width: 100%;" id="repeatDiv" class="">
                       			<div>
                                    <div ng-click="navigateUrl('#/app/readmessage/',$index)" class="">                  
                                        <div align="right" style="float:left; width:70%; margin-left:-7px; margin-top:3px;">                                      
                                            <div style="float:left; width:95%; margin-left:2%; margin-top:2%; ">
                                                <h3 style="color:white;" class="ng-binding">הודעה ממנהל האתר</h3>
                                                <h5 style="color:white;  margin-top:-4%; direction:rtl" class="ng-binding">
												{{item.title}}
												</h5>
                                                <span>{{item.date}}</span>
												<span>{{item.hour}}</span>
												</div>
										</div>	
                                                                                                    
                                             <div align="center" style="float:left; width:30%;  margin-top:4%; margin-left:-1%;">
                                                        <img style="width:100%; position:relative" src="{{imgUrl}}/{{item.image}}">
                                                    </div>		  
                                              <div>
                                                    	<img style="width:100%; margin-top:-5%; position:relative" src="img/menu/line.png" >
                                                	</div>
                                        	</div>
                            	
                                	</div>
                                 </div>
        </div>
</section>   
</ion-content>
</ion-view>   