<ion-modal-view>
  <ion-content   class="has-subheader" style="background-image:url('img/menu/back.jpg'); ">

<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
 <!--
		 <div class="Header">
		
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
     -->   
     	<!-- <div class="Content1" id="CouponContent" style="color:white"> -->
		<div>
		<!--
 			  <div style="width:100%; background-color:red;" align="right">     
                	<div  class="sideBar"  onClick="closeBar()">
                    </div>
                </div>
        -->        
                <!-------------------   Rate  Pop Up ------------------->
                 <header class="Head" data-role="header"  data-position="fixed" style="z-index:2; width:100%; border:none; top:0px;  background-color:#232629;">
                       
                 </header>
                    
                 <div id="" style="position:relative; margin-top:5%; left:0%;  width:100%; z-index:1010;">
                      <img src="img/movies/times-header.png"  style="width:100%;">
                 </div>
                 
                 <div id="movieTimes">
                 	<div style="width:100%; overflow:hidden; margin-top:10%;">
                    	<div style="width:50%; float:left" align="left">
                        	<div style="width:90%; background-color:#002027; padding:8px; padding-right:4px; padding-left:10px; text-align:center">
                            	סינמה סיטי הרצליה
                            </div>
                            <div style="width:90%;  text-align:center">
                                <p> א' : 10:00 | 16:00</p>
                                <p style="margin-top:-2%;"> ב' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ג' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ד' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ה' : 12:00 | 15:00</p>
                                <p style="margin-top:-2%;"> ו' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ש' : 10:00 | 14:00</p>
                           </div>
                        </div>
                        <div style="width:50%; float:right" align="right">
                        	<div style="width:90%; background-color:#002027; padding:8px; padding-left:10px; padding-right:4px; text-align:center">
                            	סינמה סיטי ראשל"צ
                            </div>
                            <div style="width:90%;  text-align:center">
                                <p> א' : 10:00 16:00</p>
                                <p style="margin-top:-2%;"> ב' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ג' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ד' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ה' : 12:00 | 15:00</p>
                                <p style="margin-top:-2%;"> ו' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ש' : 10:00 | 14:00</p>
                           </div>
                        </div>
                    </div>
                 </div>
                 
                 <div style="width:100%; overflow:hidden; margin-top:10%;">
                    	<div style="width:50%; float:left" align="left">
                        	<div style="width:90%; background-color:#002027; padding:8px; padding-right:4px; padding-left:10px; text-align:center">
                            	קריון - קרית ביאליק
                            </div>
                            <div style="width:90%;  text-align:center">
                                <p> א' : 10:00 16:00</p>
                                <p style="margin-top:-2%;"> ב' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ג' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ד' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ה' : 12:00 | 15:00</p>
                                <p style="margin-top:-2%;"> ו' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ש' : 10:00 | 14:00</p>
                           </div>
                        </div>
                        <div style="width:50%; float:right" align="right">
                        	<div style="width:90%; background-color:#002027; padding:8px; padding-left:10px; padding-right:4px; text-align:center">
                            	סינמול - חיפה
                            </div>
                            <div style="width:90%;  text-align:center">
                                <p> א' : 10:00 16:00</p>
                                <p style="margin-top:-2%;"> ב' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ג' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ד' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ה' : 12:00 | 15:00</p>
                                <p style="margin-top:-2%;"> ו' : 12:00 | 20:00</p>
                                <p style="margin-top:-2%;"> ש' : 10:00 14:00</p>
                           </div>
                        </div>
                    </div>
                    
                    <div style="margin:5% 0 5% 0; width:100%" align="center" ng-click="closeMovieTimes();">
                    	<div style="width:30%;">
                 			<img src="img/pubs/closel.png"  style="width:100%;">
                        </div>
                 	</div>
                    
        </div>   
</section>      


  </ion-content>
</ion-modal-view>

