<ion-view title="{{navTitle}}" >
  <ion-content ng-controller="News">
  
<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
<!--	
	<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
		  -->
        <!--
     	<div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:30px;">
 				<div id="NewsContent" style="width:100%; margin-top:0%;" align="center">
                 	<p id ="NewsHeader">חדשות</p>
                    <img src="img/menu/line.png" style="width:100%; margin-top:-35px; position:relative">
                    <div id="repeatDiv" style="margin-left:0%;" ng-repeat="item in infoArray" my-repeat-directive >
                    
                    			<!-- Banner Advertize ============================================================================= --> 
                                <div ng-if="infoArray.indexOf(item)%3 == 0 && infoArray.indexOf(item)!= 0">
                                    <div ng-if="infoArray.indexOf(item) == 3" style="margin-top:-1%;">
                                        <img src="img/banner/{{Rand1}}.jpg" style="width:100%; position:relative">
                                    </div>
                                    <div ng-if="infoArray.indexOf(item) == 6" style="margin-top:-1%;">
                                        <img src="img/banner/{{Rand2}}.jpg" style="width:100%; position:relative">
                                    </div>
                                    <div>
                                        <img src="img/menu/line.png" style="width:100%; margin-top:0px; position:relative">
                                    </div>
                                </div>
                                
                                 <!-- Row ============================================================================= --> 
                                <div class="MainNewsRow" ng-click="navigateUrl('#/app/newspage/',item.id)"> 
				   					<div class="RightNewsRow" style="margin-top:2px;">
										<h3 style="margin-top:7px; color:white; font-weight:bold;">{{item.title}}</h3>
										<p id="rowp" style="margin-top:3px;">{{item.description}}</p>
										<div class="FooterNewsRow">
											<div id="right">
												<img src="img/news/icon.png" style="width:15%"></img>
												<p>234 אנשים אהבו </p>
											</div> 
										<div id="left" >
										<img src="img/news/morebtn.png" style="width:100%"></img>
										</div>
									</div>		
								</div>
                                <div class="LeftNewsRow">
                                    <img src="{{imgUrl}}/{{item.img}}" style="width:100%"></img>
                                </div>
                                <div class="newsLine">
                                    <img src="img/menu/line.png" style="width:100%"></img>
                                </div>
					</div>
               </div>
        </div>
</section>   
</ion-content>
</ion-view>   