<ion-view title="{{navTitle}}" >
  <ion-content ng-controller="News_page">
  
<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
<!--		
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl("#/News/-1",whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
		  -->
        <!--
     	<div class="Content1" id="CouponContent">
 	    -->
			<div style="margin-top:30px;">		
 				<div id="NewsContent" style="width:100%; margin-top:0%;" align="center">
                 	<div align="center">
						<p id ="NewsInfoTitle">{{title}}</p>
						<div id="GalInfo" style="overflow:hidden" ng-click="ImageModal()">
							<div id="left" >
								<img src="{{imgurl}}/{{img2}}" style="width:100%"></img>
							</div>
							<div id="right">
								<img src="{{imgurl}}/{{img3}}"  style="width:100%"></img>
							</div>
						</div>
	
						<p id="NewsBannerInfo_Title">{{description}}</p>
						<div id=newsView>
						<img src="img/news/icon.png" style="width:7%" />
						<p>1124 אנשים צפו בדף זה</p>
					</div>
				</div>
	
				<table>
                	<tr id="newsbtns">
                    	<td>
                        	<img src="img/news/l1.png" style="width:100%">
                        </td>
                        <td ng-click="AddReplay()">
                        	<img src="img/news/l2.png" style="width:100%">
                        </td>
                        <td>
                        	<img src="img/news/l3.png" style="width:100%">
                        </td>
                     <tr>
                </table>
                      
                <div style="width:100%; overflow:hidden; margin-top:-2%;" ng-controller="News_page">
                      	<div  ng-repeat="item in ReplayArray" >
                            <div style="float:left; text-align:right;  width:85%; color:white">
                                 <p> <b>{{item.name}}</b> {{item.date}}  שעה {{item.time}}</p>
                                 <p style="margin-top:-5%;"> <b>{{item.full_comment}}</p>
                            </div>
                            <div style="float:left; margin-top:5.7%; width:10%; margin-left:2%;" >
                                 <img src="{{item.img}}" style="width:100%">
                            </div>
                         </div>
           		</div>
				
				<table style="margin-bottom:20px;">
                	<tr id="newsbtns">
                    	<td>
                        	<img src="img/news/s1.png" style="width:100%">
                        </td>
                        <td ng-click="ShareBtn()">
                        	<img src="img/news/s2.png" style="width:100%">
                        </td>
                   		<td ng-click='navigateUrl("#/app/news/",whichItem)'>
                        	<img src="img/news/s3.png" style="width:100%">
                        </td>
                    <tr>
               </table>
               
        </div>
</section>      


 	 <script id="image-modal.html" type="text/ng-template">
     
			<div> 
			 <div style="width:100%; height:{{screenHeight}}px; background-color:white">
				<ion-slide-box active-slide="myActiveSlide" >
					  <ion-slide >
						<img src="{{imgurl}}/{{img2}}" style="width:100%" />
						</ion-slide >  
					  <ion-slide >
						<img src="{{imgurl}}/{{img3}}" style="width:100%" />
						</ion-slide >   						
				</ion-slide-box>
			</div>
				<div class="row" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >
					 <button ng-click="closeImageModal()"  class="button icon-chevron-left ion-close button-block button-assertive col col-40" style="margin-left:2px; direction:rtl; margin-right:0px" >
					  סגור
					</button>
				</div>
		   </div>
    </script>
	 
	 
  </ion-content>
</ion-view>