<ion-view title="{{navTitle}}" >
  <ion-content ng-controller="Profile">
<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
		 <!--
		 <div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl(BackUrl,whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
        -->
        <!--
     	<div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:30px;">
 			   <!--------------------   Side Bar ------------------>      
                <div style="width:100%; background-color:red;" align="right">     
                	<div  class="sideBar"  onClick="closeBar()">
                    </div>
                </div>
                
                  <header class="Head" data-role="header" data-position="fixed"   style="z-index:2; width:100%; border:none; top:0px;  background-color:#232629;">
                       
                 </header>
                 
         		<div style="width:100%">
                	<div style="width:100%">
                    	<img src="img/profile/profile.png" style="width:100%" />
                    </div>
                    <div style="width:100%; overflow:hidden">
                    	<div style="width:35%; padding:10px; float:right">
                        	<img ng-src="{{profileImage}}" style="width:100%;" />
                            <p style="text-align:center; font-family:Verdana, Geneva, sans-serif; font-weight:bold; direction:rtl; color:white">כמה אתה פעיל ?</p>
                            
                            <div id="pubLikeDiv" style="width:103%; overflow:hidden; margin-top:-16%; ">
                                    <div style="width:100%; float:left; margin-left:-4%;" align="left" onClick="increaseLike();">
                                        <div style="width:100%; margin-left:5%; margin-top:2%; overflow:hidden" align="left">
                                            <div style="position:relative; float:left; width:40%">
                                                    <p id="likeId1" style="position:absolute; left:29%; font-size:13px; margin-top:15%; font-weight:bold; color:#00467b">1134</p>
     												<p id="likeId1" style="position:absolute; left:17%; font-size:13px; margin-top:40%; font-weight:bold; color:#00467b">תגובות</p>
                                                    <img src="img/profile/like02.png" style="width:100%"/>
                                            </div>
                                            <div style="position:relative; float:left; width:60%">
                                                <img src="img/pubs/likeline2.png" style="width:100%"/>
                                            </div>
                                        </div>
                                    </div>
                       		</div>
                        	
                            <img src="img/profile/points.png" style="width:100%; margin-top:2%;" ng-click="navigateUrl('#/app/points/',-1)"/>
                        </div>
                        <div style="width:55%; margin-left:3%; margin-top:1%; float:left">
                        	<img id="prof_login" src="img/profile/facbook_login.png" style="width:100%; margin-top:2%;"  ng-click="FaceBookLogin()"/>
                            <div>
                            	<input type="text" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " ng-model="fullname" placeholder="שם מלא" value="" />
                                <input type="text" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " ng-model="birth"  placeholder="תאריך לידה" value="" />
                                 <input type="text" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " ng-model="sex"  placeholder="מין" value="" />
                                  <input type="text" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " ng-model="address"  placeholder="איזור מגורים" value="" />
                                   <input type="text" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " ng-model="email"  placeholder="מייל" value="" />
                            </div>
                            <div style="width:100%;"  align="center">
                            	<div style="width:40%; margin-top:5%;" ng-click="UpdateUser()">
                           		 <img src="img/profile/send.png" style="width:100%;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%; margin-top:3%" align="center">
                    	 <div style="width:95%;" align="center" />
                    		<img src="img/profile/know.png" style="width:100%;" ng-click="navigateUrl('#/app/review/',-1)" />
                        </div>
                        <div style="width:100%; margin-top:3%" align="center">
                        	<table style="width:97%; margin-left:1%;">
                            	<tr style="padding:4px;">
                                	<td>
                                    	<img src="img/profile/footer3.png" style="width:100%;  margin-top:-2px;" ng-click="navigateUrl('#/app/messages/',-1)" />
                                    </td>
                                    <td>
                                    	<img src="img/profile/footer2.png" style="width:100%;" />
                                    </td>
                                    <td>
                                    	<img src="img/profile/footer1.png" style="width:100%;" ng-click="navigateUrl('#/app/rate/',-1)" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>   
</section>      

</ion-content>
</ion-view>   