<ion-view title="{{navTitle}}" >
 <ion-content>
<section class="LinePage" style="width:100%">
       
        
        <div class="Content" id="LineDiv">   
           			 <div> 
                       <div ng-if="Category != 4" style="width:100%; overflow:hidden; margin-top:10px; margin-bottom:0px; padding-bottom:0px;">
                                <div id="Line_Logo" ng-click="ShowPubImageModal()">
                                    <img id="lthumbLogo" src="{{imagePath}}/{{image}}" class="IMG">
                                </div>
                                <div id="InfDv">
                                    <p class="lpubTitle">{{title}}</p>
                                    <p class="lpubAdress">{{address}}</p>
                                    <div id="LineTitle">
                                        <div id="LineTitleDv1" ng-click="Call(infoArray[0].phone)">
                                            <p class="lpubPhone" >טלפון : {{phone}}</p>
                                        </div>
                                        <div id="LineTitleDv2" ng-click="openImport()">
                                            <img src="img/pubs/import.png" />
                                        </div>
                                    </div>
                                    <p class="lpubType">שעות פעילות : {{hours}}</p>
                                </div>
						</div>
                        
                        
                         <div ng-if="Category == 4"  style="width:100%; overflow:hidden" >
                                <div id="Line_Logo">
                                    <img id="lthumbLogo" src="{{imagePath}}/{{image}}" class="IMG">
                                </div>
                                <div id="InfDv">
                                    <p class="lpubTitle">{{title}}</p>
                                    <p class="lpubAdress">סוג : {{address}}</p>
                                    <div id="LineTitle">
                                        <div id="LineTitleDv1">
                                            <p class="lpubPhone" onClick="DialPhone()">אורך הסרט : {{phone}}</p>
                                        </div>
                                    </div>
                                    <p class="lpubType">הקרנת בכורה : {{ArticleInfo.LineDate}}</p>
                                </div>
						</div>
                        
                        
                          <!-- Rate -->
                       <div align="center" style="position:relative; margin-top:-25px; padding-top:0px;">
	 				 		<p style=" color:white; direction:rtl;">דירוג
                                <span style="position:relative; top:15px;">
                                    <img id="LineStar1" src="img/pubs/star.png" style="width:8%;">
                                    <img id="LineStar2" src="img/pubs/star.png" style="width:8%;">
                                    <img id="LineStar3" src="img/pubs/star.png" style="width:8%;">
                                    <img id="LineStar4" src="img/pubs/star.png" style="width:8%;">
                                    <img id="LineStar5" src="img/pubs/star.png" style="width:8%;">
                                </span>
                             </p>
                   	   </div>
                        
                        <!-- Line Icons Table -->
                        <div style="width:100%" align="center" >
                            <table  ng-if="Category != 4" style="width:90%; position:relative;  margin-top:3%" align="center">
                                <tr style="width:100%; margin-left:25%;">
                                    <td ng-click="openRate()" style="cursor:pointer; top:1px; position:relative">
                                        <img src="img/pubs/rate.png" style="width:100%;"  />
                                    </td>
                                     <td style="position:relative; top:-20px;"   ng-click="openWaze({{waze}})" >
                                        <img src="img/pubs/navigate.png"  style="width:100%;"  />
                                        <div style="position:relative" ng-click="sendToWaze(points)">
                                            <p id="Navigate" style="position:absolute; font-size:12px; color:white; top:0%; left:14%; ">5 ק"מ ליעד</p>
                                            <img src="img/pubs/navigate1.png"  style="width:100%"  />
                                        </div>
                                    </td>
                                    <td onClick="Youtube_Iframe()">
                                        <img src="img/pubs/youtube.png" class="img-responsive" style="width:100%;"  />
                                    </td>
                                    <td onClick="Facebook_Iframe()">
                                        <img src="img/pubs/facebook.png" class="img-responsive" style="width:100%;"  />
                                    </td>
                                 </tr>
                             </table>
                         </div>
                          <table  ng-if="Category == 4" style="width:90%; position:relative;  margin-top:3%" align="center">
                            <tr style="width:100%;">
                               <td style="width:33%;" ng-click="WillWatchMovieBtn()">
                                <img src="img/movies/want.png" style="width:100%">
                            	</td>
                                <td style="width:33%;">
                                   <img src="img/movies/rate.png" style="width:100%; margin-right:6%;" onClick="AddContentToPopup(4)">
                                </td>
                                <td style="width:33%;" ng-click="WatchedMovieBtn()">
                                   <img src="img/movies/watch.png" style="width:100%; margin-left:-7%;">
                                </td>
                             </tr>
                         </table>
                         
                         <!-- Gallery -->
                         <div  style="position:relative; width:100%; margin-top:4%; z-index:0;" align="center">
                       		<div class="content-primary">
                       			<table>
                                	<tr>
                                    	<td ng-click="navigateGallery('#/app/Gallery/',whichItem,0)" style="width:30%; cursor:pointer">
                                        	<img src="{{imagePath}}/{{Gallery[0].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,1)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[1].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,2)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[2].image}}" style="width:98%" />
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td ng-click="navigateGallery('#/app/Gallery/',whichItem,3)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[3].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,4)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[4].image}}" style="width:98%" />
                                        </td>
                                        <td ng-click="navigateGallery('#/app/Gallery/',whichItem,5)" style="width:30%">
                                        	<img src="{{imagePath}}/{{Gallery[5].image}}" style="width:98%" />
                                        </td>
                                    </tr>
                                </table>
                             </div>
                         </div>
                         
                        
                     
                       
                       <!-- About -->
                       <div align="center">
                            <p id="LineDiscription" style="color:white; width:95%; direction:rlt;">{{about}}'</p>
                   	   </div> 
                       
                       <!-- Like Invite Icons -->
                       <div ng-if="Category != 4" style="width:100%; overflow:hidden; margin-top:-2%">
                             <div id="inviteDiv" style="width:50%; float:left;" ng-click="showInvite()">
                                  <div style="width:68%; margin-left:30%" align="right">
                                    <img src="img/pubs/likeline3.png" style="width:100%"/>
                                  </div></div>
                                  <div style="width:50%; float:left;" align="left" ng-click="increaseLike()">
                                    <div style="width:70%; margin-left:5%; margin-top:2%; overflow:hidden" align="left">
                                        <div style="position:relative; float:left; width:40%">
                                            <p id="likeId" style="position:absolute; left:29%; font-size:13px; top:13%; font-weight:bold; color:#00467b">{{likes}}</p>
                                            <img src="img/pubs/like02.png" style="width:100%"/>
                                        </div>
                                        <div style="position:relative; float:left; width:60%">
                                            <img src="img/pubs/likeline2.png" style="width:100%"/>
                                        </div>
                                    </div>
                              </div>
                      </div>
                      
                      
                       <!-- Like Invite Icons -->
                       <div ng-if="Category == 4" style="width:100%; overflow:hidden; margin-top:-2%">
                             <div id="inviteDiv" style="width:100%; float:left;" >
                                  <div style="width:45%; float:right; margin-right:3%" align="right"  ng-click="movieTimes(0)" >
                                    <img src="img/movies/times.png" style="width:100%"/>
                                  </div>
                                  <div style="width:45%; float:left; margin-left:3%" align="left"  ng-click="watchTrailer()">
                                    <img src="img/movies/trailer.png" style="width:100%"/>
                                   </div>
                              </div>
                      </div>
                      
                    
                      
                      <!-- Facebook Friends -->
                      <div align="center" style=" margin-top:-2%">
                        	<p style="font-weight:bold; color:#CCC"> 1763 חברים אוהבים את הליין הזה</p>
                        	<img src="img/pubs/linelove.jpg"  style="width:100%;  margin-top:-3%" />
                      </div>
                      
                        <!-- Like Invite Icons -->
                      <div  ng-if="Category == 4" style="width:100%; overflow:hidden;  margin-top:-2%">
                             <div id="inviteDiv" style="width:100%; float:left;" >
                                  <div ng-click="watchedMovieModalBtn(1)" style="width:43%; float:right; padding:2% 1% 2% 1%; margin:6% 0% 2% 0%; text-align:center; background-image:url('img/movies/usersbtn.png'); background-size:100% 100%;  margin-right:3%; direction:rtl" align="right">
                      					משתמשים שצפו ({{seenmovie}})
                                  </div>
                                  <div ng-click="watchedMovieModalBtn(2)" style="width:43%; float:left; padding:2% 1% 2% 1%; margin:6% 0% 2% 0%; text-align:center; background-image:url('img/movies/usersbtn.png'); background-size:100% 100%;  margin-left:3%; direction:rtl" align="left" >
                                  	משתמשים שיצפו({{haventseen}})
                                  </div>
                              </div>
                      </div>
                      <!-- Coupon_Icons -->
                      <table ng-if="Category != 4 && rCategory != 5"  style="width:100%; position:relative;  margin-top:3%" align="center">
                        	<tr style="width:100%; margin-left:25%;">
                            	<td id="couponBtn" ng-click="openCoupons({{id}})">
                                	<img src="img/pubs/coupon.png" style="width:100%" >
                                </td>
                                <td id="BirthdayBtn" ng-click="openBirthdays({{id}})">
                                	<img src="img/pubs/birthdays.png" style="width:100%">
                                </td>
								
								<td  ng-if="Category != 1 && Category != 6"   ng-click="OpenPrvParty({{id}})">
                                	<img src="img/pubs/old_images.png" style="width:100%">
                                </td>
                                
                                <td  ng-if="Category == 1 || Category == 6"   ng-click="OpenRestMenu(1)">
                                	<img src="img/pubs/menu.png" style="width:100%">
                                </td>
							</tr>
                      </table>
                      
                      <div ng-if="rCategory == 5" style="width:100%" align="center">
                      		 <div style="width:95%; margin-top:2%;" align="center">
                             	<img src="img/show/banner.png" style="width:100%" />
                             </div>
                      </div>
                      
                       <table ng-if="rCategory == 5"  style="width:100%; position:relative;  margin-top:3%" align="center">
                        	<tr style="width:100%; margin-left:25%;">
                            	<td id="couponBtn" ng-click="Invite_Show_Popup()" >
                                	<img src="img/show/ic1.png" style="width:100%" >
                                </td>
                                <td id="BirthdayBtn" ng-click="navigateUrl('#/List/',Category)" >
                                	<img src="img/show/ic2.png" style="width:100%">
                                </td>
								
								<td   ng-click="OpenSeasonTicket()">
                                	<img src="img/show/ic3.png" style="width:100%">
                                </td>
							</tr>
                      </table>
                      
                            
                      <!-- Share Icons -->
                      <div id="">
                        <img src="img/menu/line.png" style="width:100%; position:relative; ">
                      </div>
                      
                      <div id="" ng-if="Category != 1 && Category != 4 && Category != 6 && rCategory != 5"  style="margin:3% 0 3% 0; width:100%;" align="center">
                           <img id="Week" src="img/pubs/week.jpg" style="width:96%; position:relative;" ng-click="openWeek()">
                           <table id="DetailsTable" style="width:100%; overflow:hidden" align="center"></table>
                      </div>
                            
                            
                            
                      <div ng-if="Category != 4 && rCategory != 5" id="" style="margin-top:10px;  position:relative" align="center">
                         <img src="img/pubs/share.png" style="width:30%" ng-click="ShareBtn()">
                         <img id="reviewBtn" src="img/pubs/opinion.png" style="width:30%" ng-click="OpenReview()" ></a>
                         <img id="teamBtn" ng-click="OpenTeam()" src="img/pubs/team.png" style="width:30%">
                      </div>
                      
                      <div ng-if="Category == 1 || Category == 6 || rCategory == 5" style="width:100%;">
                      		<div id="" ng-if="Category == 1" style="margin:3% 0 3% 0; width:100%;" ng-click="openChef()" align="center">
                           		<img id="Week" src="img/rest/chefh.png" style="width:96%; position:relative;" >
                           		<table id="DetailsTable" style="width:100%; overflow:hidden" align="center"></table>
                      		</div>
                      
                      		<table align="center" style="direction:rtl; width:100%;">
							<!--
                            	<tr ng-repeat="n in [] | range:3" >
                                	<td ng-repeat="z in [] | range:3"  style="width:33%; direction:rtl">
                                    	<img  src="img/rest/check.png" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">{{InfoArray[(n*3)+z]}}</span>
                                    </td>
                                </tr>
							-->
							
							   <tr>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_outside}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">ישיבה בחוץ</span>
                                    </td>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_events}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">אירועים</span>
                                    </td>	
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_delivery}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">משלוחים</span>
                                    </td>										
                                </tr>

							   <tr>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_handicap}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">גישה לנכים</span>
                                    </td>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_parking}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">חנייה</span>
                                    </td>	
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_kosher}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">כשר</span>
                                    </td>										
                                </tr>
							<tr>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_saturday}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">פתוח בשבת</span>
                                    </td>
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_shows}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">הופעות</span>
                                    </td>	
                                	<td  style=" direction:rtl">
                                    	<img  src="{{catagory_wifi}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">WIFI</span>
                                    </td>										
                             </tr>
								
								
                            </table>
                      </div>
                      <!-- Week Icons
                      <div id="" style="margin:3% 0 3% 0; width:100%;" align="center">
                        <img id="Week" src="img/pubs/week.jpg" style="width:96%; position:relative;" onClick="AddContentToPopup(5)">
                        <table id="DetailsTable" style="width:100%; overflow:hidden" align="center">
                        </table>
                      </div> -->
                      
                      <!-- Week Icons -->
                      <div  id="revDv" align="center" style="margin-top:10px; right:0%; position:relative" ng-click="AddReplay()">
							   <img src="img/pubs/reply.png" style="width:30%" >			   
					  </div>
                      
                      <div style="width:100%; overflow:hidden; margin-top:-2%;" >
                      	<div  ng-repeat="item in ReplayArray" >
                            <div style="float:left; text-align:right; padding-top:20px;  width:85%; color:white">
                                 <p> <b>{{item.name}}</b> {{item.date}}  שעה {{item.time}}</p>
                                 <p style="margin-top:-5%;"> <b>{{item.text}}</p>
                            </div>
                            <div style="float:left; margin-top:5.7%; width:10%; margin-left:2%;">
                                 <img src="{{item.img}}" style="width:100%">
                            </div>
                         </div>
           			 </div>
            
                      <!-- Footer Icons ng-if="Category != 4" -->
                      <table  style="width:100%; position:relative; background-image:url(img/pubs/bck.jpg); background-size:100%; background-repeat:repeat;width:100%; ">
                        	<tr style="width:100%;">
                            	<td  ng-click="AddFavorite()" >
                                	<img src="img/pubs/bot3.png" style="width:100%">
                                </td>
                                <td ng-click="sendToMail(1)"   >
                                	<img src="img/pubs/bot2.png" style="width:100%">
                                </td>
                               
                                <td ng-click="sendToMail(2)"  >
                                	<img src="img/pubs/bot1.png" style="width:100%" >
                                </td>
                            </tr>
                    </table>
            </div>
   		</div>
</section>

 	 <script id="image-pub-modal.html" type="text/ng-template">
     
			<div> 
			 <div style="width:100%; height:{{screenHeight}}px; background-color:white">
				<ion-slide-box active-slide="myActiveSlide" show-pager="false">
					  <ion-slide >
						<img src="{{imagePath}}/{{image}}" style="width:100%" />
						</ion-slide >   						
				</ion-slide-box>
			</div>
				<div class="row" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >
					 <button ng-click="closeImagePubModal()"  class="button icon-chevron-left ion-close button-block button-assertive col col-40" style="margin-left:2px; direction:rtl; margin-right:0px" >
					  סגור
					</button>
				</div>
		   </div>
    </script>
	
	
 </ion-content>
</ion-view>