  <ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeRateTeam()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>
  <ion-content ng-controller="ReviewController"  style="background-image:url('img/menu/back.jpg')">
  
<section class="CouponPage">
<!--		
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='closeReview()'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
-->
        <!--
     	<div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:10px;">
 			 <div data-role="page" data-dom-cache="true" id="Review" style="max-width:100%;  padding:0; margin:0 visibility:visible;  overflow:hidden;"> 
        
       
 		<!--------------------   Side Bar ------------------>      
                
                
                <header class="Head" data-role="header" data-position="fixed"   style="z-index:2; width:100%; border:none; margin-top:0px; margin-bottom:10px;  background-color:#232629;">
                        <div align="center" style="width:100%;">
                 			<img src="img/review/head.jpg"  style="width:100%;"/>
                 		</div>
                 </header>
                 
                 <!------------------------  Info  ------------------------------------>
                 <div>
                     <div style="position:relative">
                     	<div style="width:100%" align="center">
                        
                       
<div style="width:100%; overflow:hidden">
                    	<div style="width:35%; padding:10px; float:right">
                        	<img style="width:100%;" src="{{personImage}}">
                            
                            <div style="width:103%; overflow:hidden; margin-top:-16%; " id="pubLikeDiv">
                                    <div align="left"  style="width:100%; float:left; margin-left:-4%;">
                                        <div align="left" style="width:100%; margin-left:5%; margin-top:2%; overflow:hidden">
                                            <div style="position:relative; float:left; width:40%">
            
                                            </div>

                                        </div>
                                    </div>
                       		</div>
                        	
                        </div>
                        <div style="width:55%; margin-left:3%; margin-top:1%; float:left">
                            <div>
                            	<input type="text" value="" placeholder="שם" readonly ng-model="team_name" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " class="ng-pristine ng-untouched ng-valid">
                                <input type="text" value="" placeholder="תפקיד" readonly ng-model="team_job" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " class="ng-pristine ng-untouched ng-valid">
                                 <input type="text" value="" placeholder="משפט" readonly ng-model="team_sentense" style="width:100%; background-color:black; text-align:center; border-radius:5px; border-color:black; font-size:20px; margin-top:3%; color:white; padding:3px; padding-right:5px; " class="ng-pristine ng-untouched ng-valid">
                            </div>

                        </div>
                    </div>

					<div style="margin-top:10px;"></div>
					
					          <!------------------------  בילוי מועדף  ------------------------------------>
                            <div class="ui-field-contain" style="width:100%; margin-bottom:0%;">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                        <label for="select-choice-custom" class="select" style="color:white;  margin-top:0%; font-size:17px; text-align:right">:שירות</label>
                                    </div>
							<div style=" width:50%; float:left;" align="center">
							   <img class="star1" ng-click="Rate(1,1)" ng-src="{{SetStars[0] > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star2" ng-click="Rate(2,1)" ng-src="{{SetStars[0] > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
							   <img class="star3" ng-click="Rate(3,1)" ng-src="{{SetStars[0] > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star4" ng-click="Rate(4,1)" ng-src="{{SetStars[0] > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star5" ng-click="Rate(5,1)" ng-src="{{SetStars[0] > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							</div> 
							    </div>
                            </div>


					          <!------------------------  בילוי מועדף  ------------------------------------>
                            <div class="ui-field-contain" style="width:100%; margin-bottom:0%;">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                        <label for="select-choice-custom" class="select" style="color:white;  margin-top:0%; font-size:17px; text-align:right">:יחס אישי</label>
                                    </div>
							<div style=" width:50%; float:left;" align="center">
							   <img class="star1" ng-click="Rate(1,2)" ng-src="{{SetStars[1] > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star2" ng-click="Rate(2,2)" ng-src="{{SetStars[1] > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
							   <img class="star3" ng-click="Rate(3,2)" ng-src="{{SetStars[1] > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star4" ng-click="Rate(4,2)" ng-src="{{SetStars[1] > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star5" ng-click="Rate(5,2)" ng-src="{{SetStars[1] > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							</div> 
							    </div>
                            </div>


					          <!------------------------  בילוי מועדף  ------------------------------------>
                            <div class="ui-field-contain" style="width:100%; margin-bottom:0%;">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                        <label for="select-choice-custom" class="select" style="color:white;  margin-top:0%; font-size:17px; text-align:right">:ידע מקצועי</label>
                                    </div>
							<div style=" width:50%; float:left;" align="center">
							   <img class="star1" ng-click="Rate(1,3)" ng-src="{{SetStars[2] > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star2" ng-click="Rate(2,3)" ng-src="{{SetStars[2] > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
							   <img class="star3" ng-click="Rate(3,3)" ng-src="{{SetStars[2] > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star4" ng-click="Rate(4,3)" ng-src="{{SetStars[2] > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star5" ng-click="Rate(5,3)" ng-src="{{SetStars[2] > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							</div> 
							    </div>
                            </div>							
							
					   
                            
                            <div style="width:90%" align="left">
                                <div style="margin-top:4%;" align="left">
                                    <textarea cols="23" width="60%" ng-model="rate_team.desc"  rows="3" name="textarea" data-theme="a" placeholder="במילים שלך" id="textarea" style="text-align:right; padding:3px;  font-size:21px; position:relative"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div style="width:100%; margin-top:25px; margin-bottom:30px" align="center">
                            <table style = "width:50%">
                                <tr>
                                    <td  ng-click='closeRateTeam()'>
                                        <img src="img/review/close.png" style="width:100%; position:relative">
                                    </td>
                                    <td  ng-click='sendRateTeam()'>
                                        <img src="img/review/send.png" style="width:100%; position:relative">
                                    </td>
                                </tr>
                            </table>
                   		</div>
                    </div>
                
                </div>
                </div>
              
          </div>  
         
         </div>   
		 
</section>      

  </ion-content>
</ion-modal-view> 