  <ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeReview()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>
  <ion-content ng-controller="RateController"  style="background-image:url('img/menu/back.jpg')">
  
<section class="CouponPage">
<!--		
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='closeReview()'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
-->
        <!--
     	<div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:10px;">
 			 <div data-role="page" data-dom-cache="true" id="Review" style="max-width:100%;  padding:0; margin:0 visibility:visible;  overflow:hidden;"> 
        
       
 		<!--------------------   Side Bar ------------------>      
                
                
                <header class="Head" data-role="header" data-position="fixed"   style="z-index:2; width:100%; border:none; margin-top:0px; margin-bottom:10px;  background-color:#232629;">
                        <div align="center" style="width:100%;">
                 			<img src="img/review/head.jpg"  style="width:100%;"/>
                 		</div>
                 </header>
                 
                 <!------------------------  Info  ------------------------------------>
                 <div>
                     <div style="position:relative">
                     	<div style="width:100%" align="center">
                        
                        	<!------------------------  בילוי מועדף  ------------------------------------>
                            <div class="ui-field-contain" style="width:100%; margin-bottom:0%;">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                        <label for="select-choice-custom" class="select" style="color:white;  margin-top:0%; font-size:17px; text-align:right">:עיצוב</label>
                                    </div>
							<div style=" width:50%; float:left;" align="center">
							   <img class="star1" ng-click="Rate(1,1)" ng-src="{{SetStars[0] > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star2" ng-click="Rate(2,1)" ng-src="{{SetStars[0] > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
							   <img class="star3" ng-click="Rate(3,1)" ng-src="{{SetStars[0] > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star4" ng-click="Rate(4,1)" ng-src="{{SetStars[0] > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							   <img class="star5" ng-click="Rate(5,1)" ng-src="{{SetStars[0] > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
							</div> 
							    </div>
                            </div>
                            
                            <!------------------------  משקה מועדף  ------------------------------------>
                            <div data-role="fieldcontain" class="ui-field-contain" style="width:100%; margin-top:0%">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                		<label for="select-choice-custom1" class="select" style="color:white;  margin-top:0%; font-size:17px; text-align:right">:חווית משתמש</label>
                                    </div>
        							<div style=" width:50%; float:left;" align="center">
									   <img class="star1" ng-click="Rate(1,2)" ng-src="{{SetStars[1] > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star2" ng-click="Rate(2,2)" ng-src="{{SetStars[1] > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
									   <img class="star3" ng-click="Rate(3,2)" ng-src="{{SetStars[1] > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star4" ng-click="Rate(4,2)" ng-src="{{SetStars[1] > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star5" ng-click="Rate(5,2)" ng-src="{{SetStars[1] > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									</div> 
                                  </div>
                            </div>
                            
                            
                         
                            <!------------------------  סגנון מוזיקה  ------------------------------------>
                             <div data-role="fieldcontain" style="width:100%; margin-top:0%">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                		<label for="select-choice-custom2" class="select" style="color:white; font-size:17px; text-align:right">:רמת פירוט</label>
                                    </div>
                                    
        							<div style=" width:50%; float:left;" align="center">
									   <img class="star1" ng-click="Rate(1,3)" ng-src="{{SetStars[2] > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star2" ng-click="Rate(2,3)" ng-src="{{SetStars[2] > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
									   <img class="star3" ng-click="Rate(3,3)" ng-src="{{SetStars[2] > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star4" ng-click="Rate(4,3)" ng-src="{{SetStars[2] > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star5" ng-click="Rate(5,3)" ng-src="{{SetStars[2] > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									</div>
                                 
                            </div>
                            
                            
                            <!------------------------  סגנון מוזיקה  ------------------------------------>
                            <div data-role="fieldcontain" style="width:100%; margin-top:0%;">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%;  float:right;">
                                		<label for="select-choice-custom3" class="select" style="color:white; font-size:17px; text-align:right; direction:rtl;">:יעילות</label>
                                    </div>
        							<div style=" width:50%; float:left;" align="center">
									   <img class="star1" ng-click="Rate(1,4)" ng-src="{{SetStars[3] > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star2" ng-click="Rate(2,4)" ng-src="{{SetStars[3] > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
									   <img class="star3" ng-click="Rate(3,4)" ng-src="{{SetStars[3] > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star4" ng-click="Rate(4,4)" ng-src="{{SetStars[3] > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									   <img class="star5" ng-click="Rate(5,4)" ng-src="{{SetStars[3] > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
									</div>
                                 </div>
                            </div>
                            
							<div style="margin-top:10px;"></div>
                            <p style="font-size:20px; direction:rtl;">באיזה נושאים תרצה לקבל מאיתנו מייל?</p>
   
                            <table align="center" style="direction:rtl; width:75%;">
                            	<tr  >
                                	<td  style="width:33%; direction:rtl" ng-click="CheckOption(1)">
                                    	<img   ng-src="{{nomailimage}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">אל תשלחו לי מיילים</span>
                                    </td>
									<td  style="width:33%; direction:rtl" ng-click="CheckOption(2)">
                                    	<img  ng-src="{{pubsimage}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">פאבים ומועדונים</span>
                                    </td>
                                </tr>
                            	<tr  >
                                	<td  style="width:33%; direction:rtl" ng-click="CheckOption(3)">
                                    	<img  ng-src="{{newsimage}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">חדשות ועדכונים</span>
                                    </td>
									<td  style="width:33%; direction:rtl" ng-click="CheckOption(4)">
                                    	<img  ng-src="{{bowlingimage}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">באולינג וסנוקר</span>
                                    </td>
                                </tr>
                            	<tr  >
                                	<td  style="width:33%; direction:rtl" ng-click="CheckOption(5)">
                                    	<img  ng-src="{{moviesimage}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">סרטים</span>
                                    </td>
									<td  style="width:33%; direction:rtl" ng-click="CheckOption(6)">
                                    	<img  ng-src="{{showsimage}}" style="width:30%;">
                                        <span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white; direction:rtl">מופעים והצגות</span>
                                    </td>
                                </tr>								
								
                            </table>
							
							
							
                            <div style="width:90%" align="left">
                                <div style="margin-top:4%;" align="left">
                                    <textarea cols="23" width="60%" ng-model="desc"  rows="3" name="textarea" data-theme="a" placeholder="במילים שלך" id="textarea" style="text-align:right; padding:3px;  font-size:21px; position:relative"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div style="width:100%; margin-top:25px; margin-bottom:30px" align="center">
                            <table style = "width:50%">
                                <tr>
                                    <td  ng-click='CloseRate()'>
                                        <img src="img/review/close.png" style="width:100%; position:relative">
                                    </td>
                                    <td  ng-click='sendRate()'>
                                        <img src="img/review/send.png" style="width:100%; position:relative">
                                    </td>
                                </tr>
                            </table>
                   		</div>
                    </div>
                
                </div>
                </div>
              
          </div>  
         
         </div>   
		 
</section>      

  </ion-content>
</ion-modal-view> 