<ion-view title="{{navTitle}}" >
  <ion-content ng-controller="ReadMessageController">
  
<section class="CouponPage" style="background-image:url('img/menu/back.jpg')">
<!--		
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='navigateUrl("#/News/-1",whichItem)'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
		  -->
        <!--
     	<div class="Content1" id="CouponContent">
 	    -->
			<div style="margin-top:30px;">		
 				<div id="NewsContent" style="width:100%; margin-top:0%;" align="center">
                 	<div align="center">
							<div id="left">
								<img src="{{imgUrl}}/{{image}}" style="width:100%"></img>
							</div>
							
						<p id ="NewsInfoTitle" style="direction:rtl;">{{title}}</p>
						<div id="GalInfo" style="overflow:hidden">

						</div>
	
						<p id="NewsBannerInfo_Title" style="direction:rtl;">{{description}}</p>
						<p id="NewsBannerInfo_Title" style="direction:rtl;">תאריך : {{date}} , שעה : {{hour}}</p>
				</div>
	
	
                      
 
				

               
        </div>
</section>      

  </ion-content>
</ion-view>