  <ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeReview()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>
  <ion-content ng-controller="ReviewController"  style="background-image:url('img/menu/back.jpg')">
  
<section class="CouponPage">
<!--		
		<div class="Header">
                    <table class="HeadTable">
                          <tr >
                               <td class="HeadTdLeft" ng-click='closeReview()'>
                             		<img src="img/main/back.png"  style="width:100%">
                               </td>
                               <td class="HeadTdCenter">
		                            <img src="img/main/ylogo.png"  style="width:100%">
                               </td>
                               <td class="HeadTdRight">
                           			<img src="img/main/menuicon.png"  style="width:100%">
                               </td>
                           </tr>
                     </table>
          </div>
-->
        <!--
     	<div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:10px;">
 			 <div data-role="page" data-dom-cache="true" id="Review" style="max-width:100%;  padding:0; margin:0 visibility:visible;  overflow:hidden;"> 
        
       
 		<!--------------------   Side Bar ------------------>      
                
                
                <header class="Head" data-role="header" data-position="fixed"   style="z-index:2; width:100%; border:none; margin-top:0px; margin-bottom:10px;  background-color:#232629;">
                        <div align="center" style="width:100%;">
                 			<img src="img/review/head.jpg"  style="width:100%;"/>
                 		</div>
                 </header>
                 
                 <!------------------------  Info  ------------------------------------>
                 <div>
                     <div style="position:relative">
                     	<div style="width:100%" align="center">
                        
                        	<!------------------------  בילוי מועדף  ------------------------------------>
                            <div class="ui-field-contain" style="width:100%; margin-bottom:0%;">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                        <label for="select-choice-custom" class="select" style="color:white;  margin-top:0%; font-size:17px; text-align:right">בילוי מועדף</label>
                                    </div>
                                    <div style="width:58%; margin-top:1%; float:left">
                                        <select name="select-choice-1" id="select-choice-custom" ng-model="reviewparams.outgoing" data-native-menu="false" style="width:90%; font-size:17px;" >
                                            <option value="פאב" selected>פאב</option>
                                            <option value="מסעדה">מסעדה</option>
                                            <option value="בית קפה">בית קפה</option>
                                            <option value="הופעה">הופעה</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <!------------------------  משקה מועדף  ------------------------------------>
                            <div data-role="fieldcontain" class="ui-field-contain" style="width:100%; margin-top:0%">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                		<label for="select-choice-custom1" class="select" style="color:white;  margin-top:0%; font-size:17px; text-align:right">משקה מועדף</label>
                                    </div>
                                    <div style="width:58%; margin-top:1%; float:left">
                                        <select name="select-choice-2" ng-model="reviewparams.drink"  id="select-choice-custom1" data-native-menu="false" style="width:90%; font-size:17px;" >
                                            <option value="וודקה" selected>וודקה</option>
                                            <option value="גין">גין</option>
                                            <option value="בירה">בירה</option>
                                            <option value="וויסקי">וויסקי</option>
                                        </select>
                                    </div>
                                  </div>
                            </div>
                            
                            
                         
                            <!------------------------  סגנון מוזיקה  ------------------------------------>
                             <div data-role="fieldcontain" style="width:100%; margin-top:0%">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                		<label for="select-choice-custom2" class="select" style="color:white; font-size:17px; text-align:right">סגנון מוזיקה</label>
                                    </div>
                                    
                                    <div style="width:58%; margin-top:1%; float:left">
                                        <select name="select-choice-2" ng-model="reviewparams.music"  id="select-choice-custom2" data-native-menu="false" style="width:90%; font-size:17px;">
                                            <option value="רוק" selected>רוק</option>
                                            <option value="פופ">פופ</option>
                                            <option value="קלאסי">קלאסי</option>
                                            <option value="מיזרחי">מיזרחי</option>
                                        </select>
                                    </div>
                                 
                            </div>
                            
                            
                            <!------------------------  סגנון מוזיקה  ------------------------------------>
                            <div data-role="fieldcontain" style="width:100%; margin-top:0%;">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%;  float:right;">
                                		<label for="select-choice-custom3" class="select" style="color:white; font-size:17px; text-align:right">כמה פעמים אתה מבלה בשבוע</label>
                                    </div>
                                    <div style="width:58%; margin-top:1%; float:left">
                                        <select name="select-choice-2" ng-model="reviewparams.week"  id="select-choice-custom3" data-native-menu="false" style="width:90%; font-size:17px;" >
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                 </div>
                            </div>
                            
                            
                            <!------------------------  סגנון מוזיקה  ------------------------------------>
                            <div data-role="fieldcontain" style="width:100%; margin-top:1%">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                		<label for="select-choice-custom4" class="select" style="color:white; font-size:17px; text-align:right">עם כמה אנשים אתה יוצא בממוצע</label>
                                    </div>
                                    <div style="width:58%; margin-top:1%; float:left">
                                        <select name="select-choice-2" ng-model="reviewparams.people"  id="select-choice-custom4" data-native-menu="false" style="width:90%; font-size:17px;" >
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                 </div>
                            </div>
                            
                            
                            <!------------------------  סגנון מוזיקה  ------------------------------------>
                            <div data-role="fieldcontain" style="width:100%; margin-top:1%">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                		<label for="select-choice-custom5" class="select" style="color:white; font-size:17px; text-align:right">איך אתה נחשף לבילוי</label>
                                    </div>
                                    <div style="width:58%; margin-top:1%; float:left">
                                        <select name="select-choice-2" ng-model="reviewparams.exposure"  id="select-choice-custom5" data-native-menu="false" style="width:90%; font-size:17px;" >
                                            <option value="פייסבוק" selected >פייסבוק</option>
                                            <option value="גוגל">גוגל</option>
                                            <option value="חברים">חברים</option>
                                            <option value="רדיו">רדיו</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            
                             <!------------------------  סגנון מוזיקה  ------------------------------------>
                             <div data-role="fieldcontain" style="width:100%; margin-top:1%">
                            	<div style="width:95%; overflow:hidden">
                                    <div style="width:40%; float:right">
                                		<label for="select-choice-custom6" class="select" style="color:white; font-size:17px; text-align:right">אוכל מועדף</label>
                                    </div>
                                    
                                    <div style="width:58%; margin-top:1%; float:left">
                                        <select name="select-choice-2" ng-model="reviewparams.food"  id="select-choice-custom6" data-native-menu="false" style="width:90%; font-size:17px;">
                                            <option value="מזון מהיר" selected>מזון מהיר</option>
                                            <option value="בתי קפה">בתי קפה </option>
                                            <option value="מסעדות יוקרה">מסעדות יוקרה</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="width:90%" align="left">
                                <div style="margin-top:4%;" align="left">
                                    <textarea cols="23" width="60%" ng-model="reviewparams.desc"  rows="3" name="textarea" data-theme="a" placeholder="במילים שלך" id="textarea" style="text-align:right; padding:3px;  font-size:21px; position:relative"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div style="width:100%; margin-top:25px; margin-bottom:30px" align="center">
                            <table style = "width:50%">
                                <tr>
                                    <td  ng-click='closeReview()'>
                                        <img src="img/review/close.png" style="width:100%; position:relative">
                                    </td>
                                    <td  ng-click='sendReview()'>
                                        <img src="img/review/send.png" style="width:100%; position:relative">
                                    </td>
                                </tr>
                            </table>
                   		</div>
                    </div>
                
                </div>
                </div>
              
          </div>  
         
         </div>   
		 
</section>      

  </ion-content>
</ion-modal-view> 