  <ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
     <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeTeam()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>
  <ion-content style="background-image:url('img/menu/back.jpg');">
  
<section class="CouponPage" style="">
		
        <div style="margin-top:20px;">
     <!-- 	<div class="Content1" id="CouponContent"> -->
 			<div style="margin-left:3%; width:100%; overflow:hidden"  ng-repeat="item in teamArray">
                    <div style="float:left; width:65%; margin-left:-7px; margin-top:0px" align="center">
                        <div style="width:95%; margin-left:2%; margin-top:0%;">
                          <p class="teamRow">{{item.name}}</p>
                          <p class="teamRow" style="margin-top:0px;">{{title}}</p>
                          <div style="width:100% overflow:hidden; margin-top:0px; margin-right:1%">
                                <div style="float:right; width:67%">
                                	<p class="teamInfo">{{item.text}}</p>
                                </div>
                                <div style="float:left; margin-left:2%; margin-top:3%; width:30%" ng-click="rateTeam($index)">
                                    <img src="img/team/rate.png" style="width:100%; position:relative">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div style="float:left; width:35%;  margin-top:0%; margin-left:-1%; z-index:0" align="center">
                        	<img src="{{imagePath}}/{{item.image}}" style="width:100%; position:relative">
                      </div>
                      <img src="img/menu/line.png" style="width:100%; margin-top:-5px;">   
			</div>
			
         </div>   
          
           <!-- <div style="margin-left:3%; width:100%; overflow:hidden">
                    <div style="float:left; width:65%; margin-left:-7px; margin-top:0px" align="center">
                        <div style="width:95%; margin-left:2%; margin-top:0%;">
                          <p class="teamRow"> אגם <p>
                          <p class="teamRow" style="margin-top:-10px;"> יחצנית אבלון<p>
                          <div style="width:100% overflow:hidden; margin-top:-12px; margin-right:1%">
                                <div style="float:right; width:67%">
                                	<p class="teamInfo">אוהבת את החיים<p>
                                </div>
                                <div style="float:left; margin-left:2%; margin-top:3%; width:30%">
                                    <img src="img/team/rate.png" style="width:100%; position:relative">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div style="float:left; width:35%;  margin-top:4%; margin-left:-1%; z-index:0" align="center">
                        	<img src="img/team/2.png" style="width:100%; position:relative">
                      </div>
                      <img src="img/menu/line.png" style="width:100%; margin-top:-5px;">   
			</div>
            
            
            <div style="margin-left:3%; width:100%; overflow:hidden">
                    <div style="float:left; width:65%; margin-left:-7px; margin-top:0px" align="center">
                        <div style="width:95%; margin-left:2%; margin-top:0%;">
                          <p class="teamRow"> יחיאל אלמליך<p>
                          <p class="teamRow" style="margin-top:-10px;"> יחצן<p>
                          <div style="width:100% overflow:hidden; margin-top:-12px; margin-right:1%">
                                <div style="float:right; width:67%">
                                	<p class="teamInfo">אוהב את החיים<p>
                                </div>
                                <div style="float:left; margin-left:2%; margin-top:3%; width:30%">
                                    <img src="img/team/rate.png" style="width:100%; position:relative">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div style="float:left; width:35%;  margin-top:4%; margin-left:-1%; z-index:0" align="center">
                        	<img src="img/team/3.png" style="width:100%; position:relative">
                      </div>
                      <img src="img/menu/line.png" style="width:100%; margin-top:-5px;">   
			</div>
            
            
            <div style="margin-left:3%; width:100%; overflow:hidden">
                    <div style="float:left; width:65%; margin-left:-7px; margin-top:0px" align="center">
                        <div style="width:95%; margin-left:2%; margin-top:0%;">
                          <p class="teamRow"> יחיאל אלמליך<p>
                          <p class="teamRow" style="margin-top:-10px;"> יחצן<p>
                          <div style="width:100% overflow:hidden; margin-top:-12px; margin-right:1%">
                                <div style="float:right; width:67%">
                                	<p class="teamInfo">אוהב את החיים<p>
                                </div>
                                <div style="float:left; margin-left:2%; margin-top:3%; width:30%">
                                    <img src="img/team/rate.png" style="width:100%; position:relative">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div style="float:left; width:35%;  margin-top:4%; margin-left:-1%; z-index:0" align="center">
                        	<img src="img/team/4.png" style="width:100%; position:relative">
                      </div>
                      <img src="img/menu/line.png" style="width:100%; margin-top:-5px;">   
			</div>
            
            <div style="margin-left:3%; width:100%; overflow:hidden">
                    <div style="float:left; width:65%; margin-left:-7px; margin-top:0px" align="center">
                        <div style="width:95%; margin-left:2%; margin-top:0%;">
                          <p class="teamRow"> יחיאל אלמליך<p>
                          <p class="teamRow" style="margin-top:-10px;"> יחצן<p>
                          <div style="width:100% overflow:hidden; margin-top:-12px; margin-right:1%">
                                <div style="float:right; width:67%">
                                	<p class="teamInfo">אוהב את החיים<p>
                                </div>
                                <div style="float:left; margin-left:2%; margin-top:3%; width:30%">
                                    <img src="img/team/rate.png" style="width:100%; position:relative">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div style="float:left; width:35%;  margin-top:4%; margin-left:-1%; z-index:0" align="center">
                        	<img src="img/team/5.png" style="width:100%; position:relative">
                      </div>
                      <img src="img/menu/line.png" style="width:100%; margin-top:-5px;">   
			</div>
        </div>  -->
		

</section>     

</ion-content>
</ion-modal-view> 
 