<ion-modal-view>

    
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div ng-click='closeAboutModal()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>


  <ion-content style="background-image:url('img/menu/back.jpg')">

<section class="CouponPage" >


       
     	<!-- <div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:20px;">

			<div align="center">    
				<img src="img/about/m_1.png" style="width:100%; padding-top:10px;" ng-click="ShowAboutModal()" />
				<img src="img/about/about.png" style="width:100%;" />
				<div style="width:100%;" align="center">
					<div dir="rtl" style="white-space: pre; background-color:#00162e; width:80%; margin-top:-5px; padding-bottom:40px; padding-top:10px;" ng-bind-html="AboutText"></div>
                </div>
			
			</div>
				
		</div>
	<!--
        </div>   
	-->
</section>       


	

  </ion-content>
</ion-modal-view> 