
<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeReply()">
    </div>
	<div style="width:96%; left:2%; margin-top:30%; height:30%; top:30%; position:absolute">
		<div style="position:absolute; top:9%; z-index:1001; width:100%;"  align="center">
                <div style="width:92%;" align="center">
                    <div  style="position:absolute; top:15%; right:12%; width:84%;" align="right">
						<form action="javascript:cleanPopUp">
                          <div id="rform" style="width:100%;">
							   <input id="ReplayTitle" type="text" ng-model="comments.title" placeholder="כותרת" class="rev1" name="rev1"   style="text-align:right; margin-top:3%; padding-right:12px; width:90%;  font-size:21px;">
                               <textarea id="ReplayDiscription" cols="20" rows="4" ng-model="comments.comment" placeholder="תוכן" class="rev2" name="rev2"   style="text-align:right; width:90%; padding-right:12px; font-size:21px; margin-top:1%;"></textarea>
                          </div>
                          <div style="width:55%; margin-top:2%; margin-right:35%" align="center" align="center">
                               <div style="width:45%; float:right; margin-right:5%;" ng-click="closeReply()">
                                    <img src="img/review/cancel.jpg" style="width:100%;" />
                               </div>
                               <div style="width:45%; float:left;" ng-click="AddReplayText()">
                                   <img src="img/review/ok.jpg" style="width:100%;" />
                               </div>
                          </div>
						 </form>
                          </div>
                               <img src="img/review/add.jpg" style="width:100%;" />
                          </div>
                 </div>
</section>


    