<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.9" ng-click="CloseClub()">
    </div>
	<div style="width:96%; left:2%; margin-top:25%; height:30%; top:10%; position:absolute; z-index:1000;">
		<div>
          <div style="position:absolute; top:10%; z-index:1001; width:100%;" align="center">
              <img src="img/club/sing.png" style="width:96%;">
              <div id="regSuc" style="position:absolute; top:20%; visibility:hidden" align="center">
              <img src="img/club/reg.png" style="width:100%;">
              <div style="width:36%; left:32%" onClick="closePops(ClubPopUp)">
              <img src="img/club/close.png" style="width:100%;"></div></div>
              <div id="regForm">
              	<div id="addFriends" ng-if="!showForm">
                  <input type="text" placeholder="שם פרטי" ng-model="signuparams.firstname" name="name" id="invName1" value=""  class="clubInputText" />
                  <input type="text" placeholder="שם משפחה" name="name" ng-model="signuparams.lastname" id="invName2" value=""  class="clubInputText"  />
                  <input type="number" placeholder="טלפון" name="name" ng-model="signuparams.phone" id="invName3" value=""      class="clubInputText"  />
                </div>
              </div>
              <div style="width:100%; overflow:hidden; margin-top:3%;" align="center">
              <div style="width:90%" ng-if="showForm" ng-click="addFriendToClub()"><img src="img/club/addfriends.png" style="width:96%;"></div>
              <div style="width:90%; margin-top:3%;">
              <select style="width:100%; font-size:21px;" >
              <option value="" disabled="disabled" selected="selected" ng-model="signuparams.pub">יחצן</option>
              <option value="אבי אלון">אבי אלון</option>
              <option value="אלי קורן">אלי קורן</option>
              <option value="יפית אלמוג">יפית אלמוג</option></select></div></div>
              <div style="width:100%"><div style="width:70%; overflow:hidden; margin-top:3%;" align="center">
              <div style="float:left; width:48%" ng-click="CloseClub()">
              <img src="img/club/close.png" style="width:100%;"></div>
              <div style="float:right; width:48%" ng-click="SignupClub()">
              <img src="img/club/signb.png" style="width:100%;"></div></div></div></div></div>
        </div>
</section>
