<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeCouponModal()">
    </div>
	<div style="width:96%; left:2%; margin-top:20%; height:30%; top:10%; position:absolute; z-index:1000;" ng-click="closeCouponModal()">
		<div>
               <img src="img/coupon/b1.png"  style="width:100%; position:absolute" />
        </div>
    </div>
</section>
