  <ion-modal-view>
<!--
  <ion-header-bar>
    <h1 class="title">Login</h1> 
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  -->
     <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div   ng-click='closeCrewModal()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>
  <ion-content style="background-image:url('img/menu/back.jpg');">
  
<section class="CouponPage" style="">
		
        <div style="margin-top:20px;">
     <!-- 	<div class="Content1" id="CouponContent"> 
	 ng-repeat="item in teamArray"
	 --><img src="img/about/m_1.png" style="width:100%; padding-top:10px;" ng-click="ShowAboutModal()" />
 			<div style="margin-left:3%; width:100%; margin-top:20px; overflow:hidden" ng-repeat="item in Crew" >
                    <div style="float:left; width:65%; margin-left:-7px; margin-top:0px" align="center">
                        <div style="width:95%; margin-left:2%; margin-top:0%;">
                          <p class="teamRow">{{item.name}}</p>
                          <p class="teamRow" style="margin-top:0px;">{{item.position}}</p>
                          <div style="width:100% overflow:hidden; margin-top:0px; margin-right:1%">
                                <div style="float:right; width:67%">
                                	<p class="teamInfo">{{item.sentense}}</p>
                                </div>

                            </div>
                        </div>
                      </div>
                      <div style="float:left; width:35%;  margin-top:0%; margin-left:-1%; z-index:0" align="center">
                        	<img src="{{imagePath}}/{{item.image}}" style="width:100%; position:relative">
                      </div>
                      <img src="img/menu/line.png" style="width:100%; margin-top:-5px;">   
			</div>




			
			
         </div>   
          


</section>     

</ion-content>
</ion-modal-view> 
 