<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeImportModal()">
    </div>
<!--	<div style="width:90%; height:30%; margin-top:30%;">
   <div style="position:absolute; top:10%; z-index:1001; width:100%;"  align="center">
              <div style="width:92%;" align="center">
              <div  style="position:absolute; top:20px; right:8%; width:84%;" align="right">
		
	
	
	<div div style="overflow:hidden; width:100%;">
		   <div style="width:25%; margin-top:47%; margin-left:20%; float:left" align="center" onClick="cleanPopUp()">
           <img src="img/pubs/ok.jpg" style="width:100%; " /></div>
		   
	<div style="width:25%; margin-top:47%; margin-right:20%; float:right" align="center" onClick="cleanPopUp()">
           <img src="img/pubs/cancel.jpg" style="width:100%; " /></div></div>
											  
	</div><img src="img/show/pop.png" style="width:100%;" /></div></div> -->
	               
		<div style="position:absolute;  z-index:1001; width:100%; margin-top:30%;" ng-click="closeImportModal()">
            <img src="img/pubs/important.png"  style="width:100%; height:110%; position:absolute" />
            <table  style="position:absolute; margin-top:12%; direction:rtl; right:5%; color:white; z-index:1002">'
                <tr ng-repeat="item in important"  style="padding-top:0px; position:relative">
                      <td><img  src="img/pubs/impstar.png"  style="width:100%;"></td>
                      <td><p  style="margin-top:-15px; margin-right:20px; width:90%;">{{item}}</p></td>
                </tr>	
            </table>
            <div style="width:100%" align="center" onClick="cleanPopUp()">
                  <div ng-click="closeImportModal()" style="width:17%; margin-top:48%; position:relative" >
                    <img src="img/pubs/closel.png"  style="width:120%;">
                  </div>
            </div>
		</div>
    </div>
</section>



	
	