<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closePrvPopup()">
    </div>
	<div style="width:96%; left:2%; margin-top:25%; height:30%; top:10%; position:absolute; z-index:1000;">
		<div>
          	<div style="position:absolute; top:10%; z-index:1001; width:100%;"  align="center">
			<ion-scroll>
            <div style="width:92%; z-index:1002;" align="center">
					
					
				   <div  style="position:absolute; color:white; top:30px; right:8%; width:84%; z-index:1003;" align="right">
                
                            <div ng-repeat="item in ArticleInfo.prevparties" style="width:100%; padding-bottom:10px; padding-top:10px; border-bottom: 2px dotted #ffffff;"  onClick="goPrvParty()">
                            	 <!-- <a href="{{item.link}}" style="color:white; border:none"> -->
                                 <div ng-click="openInExternalBrowser(item.link)">
                                     <p>{{item.desc}}</p>
                                     <p style="font-weight:bold; margin-top:-5%"></p>
                                </div>
                            </div>
                            
                        
                                                      
                    </div>
					
                    <div style="z-index:100000">
            			<img src="img/pubs/prvpop.jpg" style="width:100%;" />
                    </div>
                </div>
				</ion-scroll>
            </div>
        </div>
</section>


