<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeSeasonTicket()">
    </div>
	<div style="width:90%; height:30%; margin-top:30%;">
    
    	
    
    
		 <div style="position:absolute; top:90%; z-index:1001; width:100%;"  align="center">
              <div style="width:92%;" align="center">
              <div  style="position:absolute; top:40px; right:8%; width:84%;" align="right">
              
              <table align="center" style="width:100%;">
                            	<tr ng-repeat="n in [] | range:2" style="width:95%" >
                                	<td ng-repeat="z in [] | range:3" id="icon{{n+'-'+z}}" style="width:32%;  direction:rtl"  onclick="SeasonIconClick(this)">
                                    	<div ng-if="RestInfoArray.length > ((n*3)+z)">
                                        	<img  src="img/rest/ncheck.png" style="width:30%;">
                                        	<span style="font-size:13px; font-weight:bold; top:-14px; right:3px; position:relative; color:white">{{RestInfoArray[(n*3)+z]}}</span>	
                                        </div>	
                                    </td>
                                </tr>
              </table>
              
              
			  <div div style="overflow:hidden; width:100%;">
		   	  <div style="width:25%; margin-top:17%; margin-left:20%; float:left" align="center" ng-click="closeSeasonTicket()">
           		<img src="img/pubs/ok.jpg" style="width:100%; " />
              </div>
		   
			  <div style="width:25%; margin-top:17%; margin-right:20%; float:right" align="center" ng-click="closeSeasonTicket()">
           		<img src="img/pubs/cancel.jpg" style="width:100%; " />
              </div>
         </div>
	</div>
    	<img src="img/show/season.png" style="width:100%;" /></div></div>
    </div> 
</section>