<ion-modal-view>

    
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div ng-click='closeFaqModal()' >
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
    </div>
  <h1 class="title"><img src="img/main/ylogo.png"  style="width:70%; padding-top:10px;"></h1>
  
</ion-header-bar>


  <ion-content style="background-image:url('img/menu/back.jpg')">

<section class="CouponPage" >


       
     	<!-- <div class="Content1" id="CouponContent">
		-->
		<div style="margin-top:20px;">

			<div align="center">

				<img src="img/about/m_1.png" style="width:100%; padding-top:10px;" ng-click="ShowAboutModal()" />
                <img src="img/about/question.png" style="width:100%;" />
				
				<div ng-repeat="item in Faq" align="right" style="direction:rtl; padding:10px;">
				  <h4 style="font-weight:bold; color:#1EEAE3;">שאלה:</h4>
				  <p style="color:#1EEAE3; font-weight:bold; font-size:20px;">{{item.question}}</p>
				  <h4 style="font-weight:bold; color:#0486DD;">תשובה:</h4>
				  <p style="color:#2AB2C9; white-space: pre; font-size:17px;">{{item.answer}}</p>
				  <hr>
				</div>
			
			</div>
				
		</div>
	<!--
        </div>   
	-->
</section>       


	

  </ion-content>
</ion-modal-view> 