<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeFavoritePopup()">
    </div>
	<div style="width:96%; left:2%; margin-top:35%; height:30%; top:35%; position:absolute">
		<div>
            <div id="RatePopUp" style="position:relative; top:0%; left:0%;  width:100%; z-index:1010;" ng-click="closeFavoritePopup()">
               <img src="img/pubs/addgood.jpg"  style="width:100%; position:absolute" />
           </div>                
        </div>
</section>
