<section>
	<div  style="position:absolute; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeInvite_Show_Popup()">
    </div>
	<div style="width:100%;  height:30%;  margin-top:63%;">
    
    	 <div style="position:relative; top:90%; z-index:1001; left:10%; width:80%;"  align="center">
              <div style="width:92%;" align="center">
              <div  style="position:absolute; top:20px; right:8%; width:84%;" align="right">
		
	
	
	<div div style="overflow:hidden; width:100%;">
		   <div style="width:25%; margin-top:47%; margin-left:20%; float:left" align="center" ng-click="invite_Call()">
           <img src="img/pubs/ok.jpg" style="width:100%; " /></div>
		   
	<div style="width:25%; margin-top:47%; margin-right:20%; float:right" align="center" ng-click="closeInvite_Show_Popup()">
           <img src="img/pubs/cancel.jpg" style="width:100%; " /></div></div>
											  
	</div><img src="img/show/pop.png" style="width:100%;" /></div></div>
    
    
		<!-- <div style="position:absolute; top:90%; z-index:1001; width:100%;"  align="center">
              <div style="width:92%;" align="center">
              <div  style="position:absolute; top:40px; right:8%; width:84%;" align="right">
			  <div div style="overflow:hidden; width:100%;">
		   	  <div style="width:25%; margin-top:17%; margin-left:20%; float:left" align="center" onClick="cleanPopUp()">
           		<img src="img/pubs/ok.jpg" style="width:100%; " />
              </div>
		   
			  <div style="width:25%; margin-top:17%; margin-right:20%; float:right" align="center" onClick="cleanPopUp()">
           		<img src="img/pubs/cancel.jpg" style="width:100%; " />
              </div>
         </div>
	</div>
    	<img src="img/show/season.png" style="width:100%;" /></div></div>
    </div> -->
</section>