<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeRatePopup()">
    </div>

    <div style="width:90%; height:30%; margin-top:30%;">
		<div style="position:absolute;  z-index:1001; width:90%; left:5%;">
            <div id="RatePopUp" style="position:relative; margin-top:30%; left:0%;  width:100%; z-index:1010;">
               <img src="img/rate/rate.jpg"  style="width:100%; position:absolute" />
               <span style="position:relative; top:35px; left:-16%;">
            <!--   <div ng-repeat="n in [] | InfoPopUp:5"  style="padding-top:12px; position:relative">
               		 <img id="star{{n+1}}" onClick="Rate('+(i+1)+')" src="img/pubs/star.png" style="width:12%;"> 
               </div>-->
               <div style="margin-top:-18%; margin-left:34%; width:70%">
                   <img class="star1" ng-click="Rate(1)" ng-src="{{Stars > 0 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
                   <img class="star2" ng-click="Rate(2)" ng-src="{{Stars > 1 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}" style="width:16%;">
                   <img class="star3" ng-click="Rate(3)" ng-src="{{Stars > 2 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
                   <img class="star4" ng-click="Rate(4)" ng-src="{{Stars > 3 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
                   <img class="star5" ng-click="Rate(5)" ng-src="{{Stars > 4 && 'img/pubs/fstar.png' || 'img/pubs/star.png'}}"  style="width:16%;">
                </div>                                        											
               </span><div style="position:absolute; width:100%; top:100px; height:100px;" ng-click="closeRatePopup()"></div></div></div> 
             </div>              
        </div>
</section>

    