<section>
	<div  style="position:fixed; top:0px; z-index:100; width:100%; height:100%; overflow:hidden; background-color:black; opacity:0.7" ng-click="closeWeekPopup()">
    </div>
	<div style="width:96%; left:2%; margin-top:25%; height:30%; top:10%; position:absolute; z-index:1000;">
		<div>
          	<div style="position:absolute; top:10%; z-index:1001; width:100%;"  align="center">
            <div style="width:92%; z-index:1002;" align="center">
                    <div  style="position:absolute; color:white; top:20px; right:8%; width:84%; z-index:1003;" align="right">
                
                            <div style="width:100%; border-bottom: 2px dotted #ffffff;" onClick="goPrvParty()">
                                 <p>מסיבת ליין בחוף הבונים</p>
                                 <p style="font-weight:bold; margin-top:-5%">יום שישי - 22.4.14</p>
                            </div>
                            
                            <div style="width:100%; border-bottom: 2px dotted #ffffff;" onClick="goPrvParty()">
                                 <p>מסיבת ליין בחוף הסטודנטים</p>
                                 <p style="font-weight:bold; margin-top:-5%">יום שישי - 22.4.14</p>
                            </div>
                            
                            <div style="width:100%; border-bottom: 2px dotted #ffffff;" onClick="goPrvParty()">
                                 <p>מסיבת ליין בחוף הצוק</p>
                                 <p style="font-weight:bold; margin-top:-5%">יום שישי - 22.4.14</p>
                            </div>
                            
                            <div style="width:25%; margin-top:3%; margin-right:35%" align="center" ng-click="closeWeekPopup()">
                                   <img src="img/pubs/prvclose.jpg" style="width:100%;" />
                            </div>
                                                      
                    </div>
                    <div style="z-index:100000">
            			<img src="img/pubs/prvpop.jpg" style="width:100%;" />
                    </div>
                </div>
            </div>
        </div>
</section>
