
body
{
	padding:0px;
	margin:0px;
	width:100%;
	background-size:100% 100%;
	background-repeat:repeat-y;
	background-image:url('../img/menu/back.jpg');
	overflow:hidden;
	position:fixed;
	color:white;
	height:100%;
}


.pane 
{
	background-image:url('../img/menu/back.jpg');
	width:100%;
}

.foo
{
	height: 155px !important;
	width:105% !important;
	margin-left:-3%;
}

.LineFooter
{
	width:105% !important;
	margin-left:-3%;
	background-image:url('../img/menu/back.jpg');
	width:100%;
}

.title-image
{
	width:50%;
	padding-top:10px;
}

.right-button
{
	height:47px;
	margin-top:-6px;
}
/*  ////////////////////   Header  ///////////////////////////////////*/

.Header
{
	background-color:#333;
	position:fixed;
	top:0px;
	z-index:10000;
}

.HeadTable
{
	position:relative;
	width:95%;
	overflow:hidden;
}

.HeadTdLeft
{
	width:15%;
	left:-5%;
	position:relative;
}

.HeadTdCenter
{
	width:40%;
	left:3%;
	position:relative;
}

.HeadTdRight
{
	width:15%;
	left:5%;
	position:relative;
}


/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   Main Page  ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/

.MainPage
{
	width:100%;
	overflow:hidden;	
}

.MainPage .Content
{
	background-image:url('../img/main/back.jpg');
	background-size:100% 100%;
	width:100%;
	position:relative;
	background-repeat:repeat-y;
}

#MainPageContent
{
	padding-top:10%;
	padding-bottom:30%;
}

#MainButtons
{
	position:relative;
	margin-bottom:5%;
}

#MainButtonsDiv
{
	padding-top:10%;
	width:90%;
}

.MainButtonsClass
{
	width:32%;
}


#mainPageLogo
{
	margin-top:0px; 
	position:relative;
}

#mainPageLogo img
{
	width:40%;
}


#mainPageWhere
{
	margin-top:0px; 
	position:relative
}

#mainPageWhere img
{
	width:55%;
}


#mainPageNext
{
	margin-top:0px; 
	position:relative
}

#mainPageNext img
{
	width:20%;
}

/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   Menu Page  ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/

.MenuPage
{
	width:100%;
	overflow:hidden;
}

.MenuPage .Content
{
	background-image:url('../img/menu/back.jpg');
	background-size:100% 100%;
	width:100%;
	position:relative;
	padding-top:5%;
	padding-bottom:30%;
}



#menuTable
{
	width:100%;
	padding-top:5%;
	
}

/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   ListPage Page  ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/

.ListPage
{
	margin-top:5%;
}

.ListPage .Content1
{
	background-image:url('../img/menu/back.jpg');
	width:100%;
}

.ListPage .Content2
{
	background-image:url('../img/menu/back.jpg');
	width:100%;
}

#pubList1
{
	margin-top:0%;	
}

#pubList2
{
	margin-top:0%;	
}


#DaysTable
{
	background-color:#999; 
	padding:9px 1px 7px 1px;
	width:100%;
	margin-top:-1%;
}

#DaysThead
{
	
}

#tBody
{
	width:100%;
	overflow:hidden;
	display:block;
}

#DaysRow
{
	display:inline;
	overflow-x:scroll;
	width:2000px;
}


.dayThumb
{
	
}

.dayThumb div
{
	width:60px;
	position:relative;
	border-radius:4px;
	text-align:center;
	padding:3px;
	background-color:#fff; 
	margin-left:1px;
	margin-right:1px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	color:black;
}


.spDays
{
	top:17%; 
	position:relative;
}

.fixDiv
{
	margin:0;
	padding:0; 
	border:none;
}



/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   Line Page  ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/

.LinePage
{
	width:100%;
	overflow:hidden;
}

.LinePage #LineDiv
{
	position:relative; 
	background-image:url('../img/menu/back1.jpg');
	background-size:100% 100%;
	width:100%;
	position:relative;
	overflow-y:scroll; 	
	z-index:2;
}


/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   Gallery Page  ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/


.GalleryPage
{
	width:100%; 
	overflow:hidden;
	height:100%;
}

/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   Birthday Page  ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/

.BirthdayPage
{
	width:100%;
	overflow:hidden;
	text-align:right;
	width:100%;
}


#BirthdayContent
{
	margin-top:20%;
	width:100%;
	position:relative;
	overflow-y:scroll; 	
	height:4px; 
	z-index:2;
	width:100%;
}





/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   Coupon Page  ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/

.CouponPage
{
	width:100%;
	overflow:hidden;
}



#CouponContent
{
	margin-top:24%;
	width:100%;
	position:relative;
	overflow-y:scroll; 	
	height:4px; 
	z-index:2;
}


/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/ 
/*  ////////////////////   Team ///////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////////*/



.teamRow
{
	text-align:right; 
	margin-bottom:4px; 
	cursor:pointer; 
	width:95%;  
	font-size:17px; 
	position:relative; 
	background-color:white; 
	color:#666; 
	padding:2px 3px 3px 3px;
	border-radius:2px;
	height:25px;
}


.teamInfo
{
	text-align:right; 
	width:95%; 
	background-color:white; 
	height:9%; 
	margin-top:0%; 
	border-radius:3px; 
	color:#666; 
	padding:3px;  
	font-size:17px; 
	position:relative;
	height:45px;
}






/*/////////////////////////////////////////////////////News //////////////////////////////////////////////////*/


#NewsHeader
{
	color:white;
	font-size:32px;
	margin-top:0%;
}

.MainNewsRow
{
	width:100%;
	overflow:hidden;
	padding:0 0% 5% 0%;
	margin-top:-3%;
}

.LeftNewsRow
{
	width:30%;
	float:left;
	margin-left:3%;
	margin-bottom:3%;
	position:relative;
}

.LeftNewsRow img
{
	margin-top:0%;
}

.RightNewsRow
{
	width:60%;
	float:right;
	top:0;
	margin-top:-3%;
	cursor:pointer;
}

.RightNewsRow h3
{
	text-align:right;
	direction:rtl;
	padding-top:5px;
	padding-right:7%;
	font-size:1.5em;
	margin-bottom:-2%;
}

.RightNewsRow #rowp
{
	text-align:right;
	direction:rtl;
	padding-right:7%;
	font-size:medium;
	height:46pt;
	overflow:hidden;
	margin-bottom:3%;
}

.newsLine
{
	
}

.NewsBanner
{
	margin:-3% 0 6% 0;
}

.NewsBanner img
{
	margin:0 0 2% 0;
}

.FooterNewsRow
{
	overflow:hidden;
	width:100%;
	position:relative;
	margin-right:5%;
	margin-top:2%;
}

.FooterNewsRow #left
{
	width:30%;
	float:left;
	margin-left:3%;
	margin-bottom:3%;
	cursor:pointer;
}

.FooterNewsRow #right
{
	width:60%;
	position:relative;
	float:right;
	margin-left:3%;
	margin-bottom:3%;
}

.FooterNewsRow #right img
{
	float:right;
	margin-left:5%;
}

.FooterNewsRow #right p
{
	font-size:12px;
	text-align:right;
	margin-top:3%;
	margin-right:3%;
}

.FooterNewsRow #left
{
	margin-top:2%;
}


/* News Info Page*/
#NewsInfoTitle
{
	font-size:16pt;
	padding:0 5% 0 5%;
}

#NewsBannerInfo
{
	width:100%;
}

#NewsBannerInfo_Title
{
	text-align:right;
	padding:0 6% 0 6%;
}

#newsView
{
	padding:1% 0 1% 0;
	overflow:hidden;
	background: rgba(0,0,0,0.5);
}

#newsView img
{
	float:right;
	margin-right:10%;
	margin-top:1%;
}

#newsView p
{
	float:right;
	margin-right:3%;
	margin-top:2%;
}


#newsbtns
{
	width:100%;
}

#newsbtns tr
{
	width:32%
}


.ClassPopUp
{
	background: rgba(0,0,0,0.9);
}


#GalInfo
{
	overflow:hidden;
	width:90%;
}

#GalInfo #left
{
	width:49%;
	float:left;
}

#GalInfo #right
{
	width:49%;
	float:right;
}




/* ////////////////////////////////////////////////////////////////////// 
/* ////////////////////////////////////////////////////////////////////// 
/* ////////////////////////////////////////////////////////////////////// 
/* ////////////////////////////////////////////////////////////////////// 
/* ////////////////////////////////////////////////////////////////////// 
/* //////////////////////////////////////////////////////////////////////*/



/* about ------------------------ 
.animClass1.ng-leave        {
     -webkit-animation:slideInRight 0.8s both ease;
	-moz-animation:slideInRight 0.8s both ease;
	animation:slideInRight 0.8s both ease;    
}
.animClass1.ng-enter 		{  
    -webkit-animation:slideInRight 0.8s both ease;
	-moz-animation:slideInRight 0.8s both ease;
	animation:slideInRight 0.8s both ease;    
}

 
.animClass1.ng-leave        {
    -webkit-animation:slideOutLeft 0.8s both ease;
	-moz-animation:slideOutLeft 0.8s both ease;
	animation:slideOutLeft 0.8s both ease;   
}


/* slide in from the right 
@keyframes slideInRight {
	from 	{ transform:translateX(100%); translateY(0%);}
	to 		{ transform: translateX(0); translateY(0%);}
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); translateY(0%);}
	to 		{ -moz-transform: translateX(0); translateY(0%);}
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); translateY(0%);}
	to 		{ -webkit-transform: translateX(0); translateY(0%);}
}



/* slide in from the bottom 
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); translateY(0%);}
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); translateY(0%);}
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); translateY(0%);}
}






.animClass1.ng-enter,  
.animClass1.ng-leave,  
.animClass1.ng-enter,  
.animClass1.ng-leave 
{
    top: 0; right: 0; bottom: 0; left: 0;  
    background: inherit;  
    -ms-transition: 0.50s ease-out;  
    -webkit-transition: 0.50s ease-out;  
    transition:  0.50s ease-out;  
}  

.animClass1.ng-enter {  
    z-index: 101;  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}  
.animClass1.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave {  
    z-index: 100;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
} 


.animClass1.ng-enter {  
    z-index: 100;  
    -webkit-transform: translateX(-100%);  
    transform: translateX(-100%);  
}  
.animClass1.ng-enter.ng-enter-active {  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave {  
    z-index: 101;  
    -webkit-transform: translateX(0);  
    transform: translateX(0);  
}  
.animClass1.ng-leave.ng-leave-active {  
    -webkit-transform: translateX(100%);  
    transform: translateX(100%);  
}   */


* CSS Document */


.LinePage
{
	
}

.IMG
{
	width:100%;
}


#dayStatus
{
	width:104%;
	margin-left:-2%; 
	position:relative;  
	background-image:url(../img/menu/pubsline.jpg); 
	background-repeat:repeat
}

#dayStatus p
{
	color:white; 
	width:100%;  
	text-align:center; 
	margin:0; 
	padding:1.5% 0 1% 0%;
}

#Line_Logo
{
	width:30%; 
	float:right; 
	margin-top:3%; 
	margin-right:1%;
}

#InfDv
{
	width:67%; 
	float:left; 
}

.lpubTitle
{
	text-align:right; 
	color:white; 
	font-size:18; 
	font-weight:bold; 
	margin-top:3%;
}

.lpubAdress
{
	text-align:right; 
	color:white; 
	z-index:1; 
	font-size:16; 
	margin-top:-3%
}

#LineTitle
{
	width:100%; 
	overflow:hidden; 
	margin-top:-3%; 
	z-index:100;
}

#LineTitleDv1
{
	width:60%; 
	float:right;
}

#LineTitleDv1 p
{
	text-align:right; 
	color:white; 
	font-size:16; 
	margin-top:0%
}

#LineTitleDv2
{
	width:18%; 
	float:left; 
	margin-left:2%; 
	margin-top:0%;
}

#LineTitleDv2 img
{
	width:100%; 
	margin-top:0%;
}

.lpubType
{
	text-align:right; 
	color:white; 
	font-size:16; 
	margin-top:-4%
}



/*SIDE MENU*/
     .sideMenu
     {
        display: block;
        width: 130px;
        padding: 28px;
        background-color: #2f2f2f;
        position:fixed;
        top:0;
        left:0;
        font-size:15px;
        text-align:center;
     }
     
     .sideMenuBtn
     {
        padding-bottom: 7px;
     }
     .sideMenuBtn span
     {
         color:White;
         font-size:16px;
         text-align:center;
     }
	 
	.user-image {
	border: 1px solid #999999;
    border-radius: 50%;
    padding: 8px;
    width: 50%;
	}
	
.menu-text 
{
    color: #cccccc;
    font-weight: 500;
	padding-top:14px;
	left:24px;
	 position:relative;
}

.menuimage
{
    left:30px;
    position:relative;
}



	.greeting {
		color: #ffffff;
		font-weight: 500;
	}

	.message {
		color: #999999;
	}

	.item-content {
		background-color: #23262a;
	}
     

	.list {
		margin-bottom: 20px;
		padding-bottom: 1px;
		padding-left: 0;
		padding-top: 1px;
		position: relative;
	}
	
	ion-side-menu ion-item.item {
		border-color: #33383e;
		border-left: medium none #33383e;
		border-right: medium none #33383e;
	}
	
	ion-side-menu .heading-item .user-image-container {
		left: 12px;
		position: absolute;
		top: 16px;
		width: 90px;
	}
	
	
	ion-side-menu ion-item.item .item-content .icon::before {
    background-color: #3e454c;
    border-radius: 50%;
    color: #ffffff;
    font-size: 22px;
    height: 32px;
    line-height: 32px;
    width: 32px;
}
	.item-icon-left .icon::before, .item-icon-right .icon::before {
		display: block;
		text-align: center;
		width: 32px;
	}
	
	.menu-text {
		text-align:right;
		padding-right:10px;
	}
	.menuimage {
		text-align:right;
		float:right;
	}
     /*ABOUT PAGE*/
     
     .aboutPic
     {
		 padding:0px;
		 margin:0px;       
     }
     
    .aboutPic hr
    {
		padding:0px;
		 margin:0px;
		 width:100%;   
        color:#00ac36;
    }
    .line
    {
        border-top: solid #00ac36;
        float:right;
        width:100%;
		margin-top:-4px;
    }
    .aboutTitle
    {
        padding:10px 14px 10px 0px;
        font-size:20px;
        float:right;
        color:#00ac36;
        font-weight:bold;
    }
    .subTit
    {
        padding:0px 14px 10px 10px;
        font-size:15px;
        float:right;
        font-weight:bold;
    }
    
    
     /*FEEDBACK PAGE*/
     .questions
    {         
        float:right;
        padding-top:6%;   
		direction:rtl; 
		text-align:right;     
     }
    .question
    {
        float:right;
        padding:1% 5% 0% 5%;
        width:90%;
    }
    .question span
    {
        font-size:18px;
        font-weight:bold;        
    }
    .stars
    {
         padding-right:8%;
    }
    .star
    {
        float:right;
         width:14%;
         padding:2% 0 1% 2%;
    }
    .starLine
    {
        border-top: dotted #3282c7;
        float:right;
        margin:10px 21px 10px 0px;
        width:84%;
    }
    .openQuestion
    {
        float:left;
        padding:6% 2% 0% 2%;
		margin-right:1%;
        width:100%;
		direction:rtl;   
    }
    #openQuestion
    {
        width:90%;
        height:130px;
        border: solid #00ac36;
        color:#4c4c4c;
        padding-right:10px;
		margin:10px 11px 10px 0px;
        padding-top:6px;
        font-size:15px;
        text-align:right;
        font-family:Arial;
    }
    #send
    {
        color:White;
        background-color:#00ac36;
        width:90%;
        padding:10px 0px 10px 0px;
        font-size:20px;
        margin:10px 11px 10px 0px;
		
        border:none;
        font-weight:bold;
    }
    
	
	
	
	.wide-as-needed 
	{
  		direction:ltr; 
    overflow:auto; 
  		white-space: nowrap;
	}
	
	.scroll 
	{ 
		direction:ltr; 
  		min-width: 100%;
	}
	
	.bar-subheader
	{ 
		direction:ltr; 
		background-color:#333;
	}
	
	.daysButton
	{
		margin-left:2px;
		border-radius:6px;
	}
	
.help-block, .help-inline { margin-top: -8px; font-size: 11px; }
.SubmitBtn 
{
	background: url(../img/invite/ok.png);
    border: 0;
    display: block;
    height: 55px;
    width: 204px;
	width:100%;
	background-repeat:no-repeat;
}



.inAppBrowserWrap {
  background-color:#0F0;
  color: #0F0;
}
.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #0F0;
  display: block;
  background: #0F0;
}
.inAppBrowserWrap menu li.disabled {
    color: #0F0;
}


.clubInputText
{
	text-align:right; 
	margin-top:3%; 
	width:90%; 
	font-size:21px; 
	position:relative
}

.custom-popup.popup-container .popup {
  width:90%;
  direction:rtl;
}